
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Intelligence tool</span>
    <h1 class="govuk-heading-xl">
      Prototypes
    </h1>
    <p class="govuk-heading-m govuk-!-margin-top-6">
      Delayed capture
    </p>
    <p class="govuk-heading-s">Dashboards
    </p>
    <ul class="govuk-list">
      <li><a href="/delayed_capture/index">Iteration 00</a></li>
      <li><a href="/delayed_capture_02/index_01">Iteration 01</a></li>
      <li><a href="/delayed_capture_02/index_02">Iteration 02</a></li>
      <li><a href="/delayed_capture_02/index_03">Iteration 03</a></li>
      <li><a href="/delayed_capture_02/index_04">Iteration 04</a></li>
      <li><a href="/delayed_capture_02/index_05">Iteration 05</a></li>
      <li><a href="/delayed_capture_02/index_06">Iteration 06</a></li>
      <li><a href="/delayed_capture_02/index_07">Iteration 07</a></li>
      <li><a href="https://moj-design-system.herokuapp.com/patterns/filter-a-list" target="_blank">MoJ design system filter example</a></li>
    </ul>
  </div>
</div>

{% endblock %}
