<tr class="govuk-table__row hack-table-row-vertical-align-top">
  <!-- <td class="govuk-table__cell"><a href="#" class="govuk-link--no-visited-state">{{ prisoner.prisoner_name }}</a><br>{{ prisoner.prisoner_number }}</td> -->
  <td class="govuk-table__cell highlightable">{{ prisoner.prisoner_name }}<br>{{ prisoner.prisoner_number }}</td>
  <td class="govuk-table__cell">{{ prisoner.prison_name }}</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">{{ prisoner.credit_count }}</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">{{ prisoner.sender_count }}</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">{{ prisoner.credit_total }}</td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/prisoners/prisoner/">View details</a></td>
</tr>
