<tr class="govuk-table__row hack-table-row-vertical-align-top">
  <!-- <td class="govuk-table__cell"><a href="#" class="govuk-link--no-visited-state">{{ prisoner.prisoner_name }}</a><br>{{ prisoner.prisoner_number }}</td> -->
  <td class="govuk-table__cell highlightable">08/07/2019</td>
  <td class="govuk-table__cell govuk-table__cell">OWEN BRADLEY<br>X2518SN</td>
  <td class="govuk-table__cell govuk-table__cell"><a href="#">Beth King-Griffin</a> <br> by Debit card</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">£1,500.00</td>
  <td class="govuk-table__cell govuk-table__cell">HMP Croydon</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">Credited <br><a href="#">View details</a></td>
</tr>

<tr class="govuk-table__row hack-table-row-vertical-align-top">
  <!-- <td class="govuk-table__cell"><a href="#" class="govuk-link--no-visited-state">{{ prisoner.prisoner_name }}</a><br>{{ prisoner.prisoner_number }}</td> -->
  <td class="govuk-table__cell highlightable">04/07/2019</td>
  <td class="govuk-table__cell govuk-table__cell">OWEN BRADLEY<br>X2518SN</td>
  <td class="govuk-table__cell govuk-table__cell"><a href="#">Frank Bradley</a> <br> by Debit card</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">£20.00</td>
  <td class="govuk-table__cell govuk-table__cell">HMP Croydon</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">Credited <br><a href="#">View details</a></td>
</tr>

<tr class="govuk-table__row hack-table-row-vertical-align-top">
  <!-- <td class="govuk-table__cell"><a href="#" class="govuk-link--no-visited-state">{{ prisoner.prisoner_name }}</a><br>{{ prisoner.prisoner_number }}</td> -->
  <td class="govuk-table__cell highlightable">01/07/2019</td>
  <td class="govuk-table__cell govuk-table__cell">OWEN BRADLEY<br>X2518SN</td>
  <td class="govuk-table__cell govuk-table__cell"><a href="#">Jacob Bradley</a> <br> by Debit card</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">£35.00</td>
  <td class="govuk-table__cell govuk-table__cell">HMP Croydon</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">Credited <br><a href="#">View details</a></td>
</tr>

<tr class="govuk-table__row hack-table-row-vertical-align-top">
  <!-- <td class="govuk-table__cell"><a href="#" class="govuk-link--no-visited-state">{{ prisoner.prisoner_name }}</a><br>{{ prisoner.prisoner_number }}</td> -->
  <td class="govuk-table__cell highlightable">01/06/2019</td>
  <td class="govuk-table__cell govuk-table__cell">OWEN BRADLEY<br>X2518SN</td>
  <td class="govuk-table__cell govuk-table__cell"><a href="#">Frank Bradley</a> <br> by Debit card</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">£20.00</td>
  <td class="govuk-table__cell govuk-table__cell">HMP Croydon</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">Credited <br><a href="#">View details</a></td>
</tr>
