<thead class="govuk-table__head">
  <tr class="govuk-table__row hack-table-row-vertical-align-top">
    <th class="govuk-table__header" scope="col">Prisoner</th>
    <th class="govuk-table__header" scope="col">Prison</th>
    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Recipients</th>
    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Disbursements sent</th>
    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount of disbursements</th>
    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
  </tr>
</thead>
