<thead class="govuk-table__head">
  <tr class="govuk-table__row hack-table-row-vertical-align-top">
    <th class="govuk-table__header" scope="col">Prisoner</th>
    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Credits received</th>
    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Senders</th>
    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount of credits</th>
    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
  </tr>
</thead>
