<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/node_modules/govuk-frontend/all.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="application/json" class="js-hypothesis-config">
  {
    "openSidebar": false
  }
</script>
<script src="https://hypothes.is/embed.js" async></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}

<script type="text/javascript">
  /*global accessibleAutocomplete*/
  var prisons = [
    'HMP/YOI Askham Grange',
    'HMYOI Aylesbury',
    'HMP/YOI Bedford',
    'HMP/YOI Belmarsh',
    'HMP/YOI Berwyn',
    'HMP/YOI Brinsford',
    'HMP/YOI Bristol',
    'HMP Brixton',
    'HMP Buckley Hall',
    'HMP/YOI Bullingdon',
    'HMP Bure',
    'HMP/YOI Cardiff',
    'HMP Channings Wood',
    'HMP/YOI Chelmsford',
    'HMP Coldingley',
    'HMYOI Cookham Wood',
    'HMP Dartmoor',
    'HMYOI Deerbolt',
    'HMP/YOI Downview',
    'HMP/YOI Drake Hall',
    'HMP/YOI Durham',
    'HMP/YOI East Sutton Park',
    'HMP/YOI Eastwood Park',
    'HMP/YOI Elmley',
    'HMP Erlestoke',
    'HMP/YOI Exeter',
    'HMP Featherstone',
    'HMYOI Feltham',
    'HMP Ford',
    'HMP/YOI Foston Hall',
    'HMP Frankland',
    'HMP Full Sutton',
    'HMP Garth',
    'HMP Gartree',
    'HMP Grendon',
    'HMP Guys Marsh',
    'HMP/YOI Hatfield',
    'HMP Haverigg',
    'HMP/YOI Hewell',
    'HMP/YOI High Down',
    'HMP Highpoint',
    'HMP/YOI Hindley',
    'HMP/YOI Hollesley Bay',
    'HMP/YOI Holme House',
    'HMP/YOI Hull',
    'HMP Humber',
    'HMP Huntercombe',
    'HMP/YOI Isis',
    'HMP/YOI Isle of Wight',
    'HMP Kirkham',
    'HMP/YOI Kirklevington Grange',
    'HMP Lancaster Farms',
    'HMP Leeds',
    'HMP Lowdham Grange',
    'HMP/YOI Lewes',
    'HMP Leyhill',
    'HMP/YOI Lincoln',
    'HMP Lindholme',
    'HMP Littlehey',
    'HMP Liverpool',
    'HMP Long Lartin',
    'HMP/YOI Low Newton',
    'HMP Maidstone',
    'HMP/YOI Manchester',
    'STC Medway',
    'HMP/YOI Moorland',
    'IRC Morton Hall',
    'HMP/YOI New Hall',
    'HMP North Sea Camp',
    'HMP/YOI Norwich',
    'HMP/YOI Nottingham',
    'HMP Onley',
    'HMP/YOI Pentonville',
    'HMP/YOI Portland',
    'HMP/YOI Prescoed',
    'HMP/YOI Preston',
    'HMP Ranby',
    'HMP Risley',
    'HMP/YOI Rochester',
    'HMP/YOI Send',
    'HMP Spring Hill',
    'HMP Stafford',
    'HMP/YOI Standford Hill',
    'HMP Stocken',
    'HMP/YOI Stoke Heath',
    'HMP/YOI Styal',
    'HMP/YOI Sudbury',
    'HMP Swaleside',
    'HMP/YOI Swansea',
    'HMP/YOI Swinfen Hall',
    'HMP The Mount',
    'IRC The Verne',
    'HMP/YOI Thorn Cross',
    'HMP Usk',
    'HMP Wakefield',
    'HMP/YOI Wandsworth',
    'HMP/YOI Warren Hill',
    'HMP Wayland',
    'HMP Wealstun',
    'HMYOI Werrington',
    'HMYOI Wetherby',
    'HMP Whatton',
    'HMP Whitemoor',
    'HMP/YOI Winchester',
    'HMP/YOI Woodhill',
    'HMP/YOI Wormwood Scrubs',
    'HMP/YOI Wymott'
  ]
  var element = document.querySelector('#prisons');
  accessibleAutocomplete({
    element: element,
    id: 'prison',
    name: 'prison',
    source: prisons
  });
</script>
