{% set prisonHtml %}
{{ govukInput({
  label: {
    text: "Prison name",
    isPageHeading: false,
    classes: "govuk-fieldset__legend--s"
  },
  classes: "govuk-input--width-20",
  id: "width-20",
  name: "width-20"
}) }}
{% endset -%}

{{ govukRadios({
  idPrefix: "bank-transfer",
  name: "bank-transfer",
  fieldset: {
    legend: {
      text: "Prison",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
  {
    value: "all prisons",
    text: "All prisons",
    checked: true
  },
  {
    value: "a specific prison",
    text: "A specific prison",
    conditional: {
      html: prisonHtml
    }
  }
  ]
}) }}
