{% extends "layout.html" %}

{% block pageTitle %}
{{creditsAndDisbursmentsHeadingOne}}
{% endblock %}

{% block content %}

<!-- @todo need to get the reveal for the yes working with inline buttons -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{creditsAndDisbursmentsHeadingOne}}
    </h1>
    <p class="govuk-body-l">
      {{creditsAndDisbursmentsLedeParagraph}}
    </p>

    <p class="govuk-body-l govuk-!-margin-bottom-0">
      {{creditsAndDisbursmentsBulletHeading}}
    </p>

    <h2 class="govuk-heading-l">{{creditsAndDisbursmentsHeadingTwo}}</h2>
    {% from "radios/macro.njk" import govukRadios %}

    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "wholeNumber",
        name: "wholeNumber",
        fieldset: {
          legend: {
            text: creditsAndDisbursmentsQuestionOne,
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: creditsAndDisbursmentsHintOne
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "how-contacted-conditional",
        name: "how-contacted",
        fieldset: {
          legend: {
            text: creditsAndDisbursmentsQuestionTwo,
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

    <form class="form" method="post">
      {{ govukButton({
          html: 'Continue'
      }) }}
    </form>

  </div>
</div>

{% endblock %}
