{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<!-- @todo need to get the reveal for the yes working with inline buttons -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Credits and disbursments
    </h1>

    <h2 class="govuk-heading-l">Would you like to recieve notifications for:</h2>
    {% from "radios/macro.njk" import govukRadios %}

    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "wholeNumber",
        name: "wholeNumber",
        fieldset: {
          legend: {
            text: "Credits or disbursements that are not a whole number?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "For example £25.19."
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "how-contacted-conditional",
        name: "how-contacted",
        fieldset: {
          legend: {
            text: "Credits or disbursements over £200",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

    <form class="form" method="post">
      {{ govukButton({
          html: 'Continue'
      }) }}
    </form>

  </div>
</div>

{% endblock %}