{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{notificationsHeadingOne}}
    </h1>

    <!-- only add a heading for a list if there is more than one list -->
    <h2 class="govuk-heading-m">
      {{monitoredTransactionsHeadingOne}}
    </h2>

    <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
    <!--   * `app-check-your-answers--short` for short questions -->
    <!--   * `app-check-your-answers__questions-long` for long questions -->
    <!--   * none for single group of q&a -->
    <dl class="app-check-your-answers app-check-your-answers__questions-long">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          {{monitoredTransactionsQuestion}}
        </dt>
        <dd class="app-check-your-answers__answer">
          Yes
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">
      {{creditsAndDisbursmentsHeadingOne}}
    </h2>
    <dl class="app-check-your-answers app-check-your-answers__questions-long">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          {{creditsAndDisbursmentsQuestionOne}}
        </dt>
        <dd class="app-check-your-answers__answer">
          Yes
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          {{creditsAndDisbursmentsQuestionTwo}}
        </dt>
        <dd class="app-check-your-answers__answer">
          Yes
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change<span class="govuk-visually-hidden"> home address</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">
      {{frequencyOfTransactionsHeadingOne}}
    </h2>
    <dl class="app-check-your-answers app-check-your-answers__questions-long">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          {{frequencyOfTransactionsQuestionOne}}
        </dt>
        <dd class="app-check-your-answers__answer">
          Yes
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          {{frequencyOfTransactionsQuestionTwo}}
        </dt>
        <dd class="app-check-your-answers__answer">
          Yes
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">
      {{prisonersHeadingOne}}
    </h2>
    <dl class="app-check-your-answers app-check-your-answers__questions-long">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          {{prisonersQuestionOne}}
        </dt>
        <dd class="app-check-your-answers__answer">
          Yes
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          {{prisonersQuestionTwo}}
        </dt>
        <dd class="app-check-your-answers__answer">
          Yes
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">
      {{debitCardOrBankAccountHeadingOne}}
    </h2>
    <dl class="app-check-your-answers app-check-your-answers__questions-long">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          {{debitCardOrBankAccountQuestionOne}}
        </dt>
        <dd class="app-check-your-answers__answer">
          Yes
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          {{debitCardOrBankAccountQuestionTwo}}
        </dt>
        <dd class="app-check-your-answers__answer">
          Yes
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">
      {{emailFrequencyHeadingOne}}
    </h2>
    <dl class="app-check-your-answers app-check-your-answers__questions-long">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          {{emailFrequencyQuestion}}
        </dt>
        <dd class="app-check-your-answers__answer">
          Yes
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
    </dl>



    <h2 class="govuk-heading-m">Now send your application</h2>

    <p>
      By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
    </p>

    <a class="govuk-button" href="confirmation-page" role="button">
      Accept and send application
    </a>

  </div>
</div>
{% endblock %}