{% extends "layout.html" %}

{% block pageTitle %}
{{debitCardOrBankAccountHeadingOne}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{debitCardOrBankAccountHeadingOne}}
    </h1>

    <p class="govuk-body-l govuk-!-margin-bottom-0">
      {{debitCardOrBankAccountLedeParagraph}}
    </p>

    <h2 class="govuk-heading-l">
      {{debitCardOrBankAccountHeadingTwo}}
    </h2>

    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "sameDebitCardOrBankAccount",
        name: "sameDebitCardOrBankAccount",
        fieldset: {
          legend: {
            text: debitCardOrBankAccountQuestionOne,
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

    {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "disbursmentSameDebitCardOrBankAccount",
          name: "disbursmentSameDebitCardOrBankAccount",
          fieldset: {
            legend: {
              text: debitCardOrBankAccountQuestionTwo,
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

    <form class="form" method="post">
      {{ govukButton({
          html: 'Continue'
      }) }}
    </form>

  </div>
</div>

{% endblock %}
