{% extends "layout.html" %}

{% block pageTitle %}
{{emailFrequencyHeadingOne}}
{% endblock %}

{% block content %}

<!-- @todo need to get the reveal for the yes working with inline buttons -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{emailFrequencyHeadingOne}}
    </h1>

    <p class="govuk-body-l">
      {{emailFrequencyLedeParagraph}}
    </p>

    {{ govukRadios({
        idPrefix: "wholeNumber",
        name: "wholeNumber",
        fieldset: {
          legend: {
            text: emailFrequencyLedeParagraph,
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m govuk-visually-hidden"
          }
        },
        items: [
          {
            value: "emailFrequencyValueOne",
            text: emailFrequencyValueOne
          },
          {
            value: "emailFrequencyValueTwo",
            text: emailFrequencyValueTwo
          },
          {
          value: "emailFrequencyValueThree",
          text: emailFrequencyValueThree
        }
        ]
      }) }}

    <form class="form" method="post">
      {{ govukButton({
          html: 'Continue'
      }) }}
    </form>

  </div>
</div>

{% endblock %}