{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Frequency of transactions
    </h1>

    <p class="govuk-body-l">
      Do we need to explain what these transactions are?
    </p>

    <h2 class="govuk-heading-l">
      Would you like to recieve notifications for:
    </h2>

    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "sameDebitCardOrBankAccount",
        name: "sameDebitCardOrBankAccount",
        fieldset: {
          legend: {
            text: "Credits from the same debit card or bank account to any prisoner?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "If you select Yes you will be able to configure the amount and frequency."
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

    {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "disbursmentSameDebitCardOrBankAccount",
          name: "disbursmentSameDebitCardOrBankAccount",
          fieldset: {
            legend: {
              text: "Disbursments from the same debit card or bank account to any prisoner?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "If you select Yes you will be able to configure the amount and frequency."
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

    <form class="form" method="post">
      {{ govukButton({
          html: 'Continue'
      }) }}
    </form>

  </div>
</div>

{% endblock %}