{% extends "layout.html" %}

{% block pageTitle %}
{{monitoredTransactionsHeadingOne}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{monitoredTransactionsHeadingOne}}
    </h1>
    {% from "radios/macro.njk" import govukRadios %}

    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "monitoredTransactions",
        name: "monitoredTransactions",
        fieldset: {
          legend: {
            text: monitoredTransactionsLedeParagraph,
            isPageHeading: false,
            classes: "govuk-body-l"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

    <form class="form" method="post">
      {{ govukButton({
          html: 'Continue'
      }) }}
    </form>

  </div>
</div>

{% endblock %}
