{% extends "layout.html" %}


{% block pageTitle %}
Delayed capture
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Have you read the money laundering briefing?
    </h1>
    <p class="govuk-body">
      You need to read the "HMPPS, Money Laundering, the Illicit Economy  and You" briefing. If you haven't read it ask your hub manager for a copy of the briefing.
    </p>
    <a class="govuk-button" href="/index">I have read the briefing
    </a>
  </div>
</div>

{% endblock %}
