{% extends "layout.html" %}

{% block pageTitle %}
Manage email notifications - Prisoner money intelligence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Your prisons
    </h1>


    <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents list-item-row">
        <dt class="app-check-your-answers__question">
          Brixton
        </dt>
        <dd class="app-check-your-answers__change">
          <a href="#" class="remove-list-item">
            Remove<span class="govuk-visually-hidden"> Brixton prison</span>
          </a>
        </dd>
      </div>

      <div class="app-check-your-answers__contents list-item-row">
        <dt class="app-check-your-answers__question">
          Wandsworth
        </dt>
        <dd class="app-check-your-answers__change">
          <a href="#" class="remove-list-item">
            Remove<span class="govuk-visually-hidden"> Wandsworth prison</span>
          </a>
        </dd>
      </div>
      <div id="prisonRow"></div>
    </dl>
    <p class="govuk-body-l">You'll get notifications for these prisons</p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Are there more prisons you need to add?
        </span>
      </summary>
      <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Add more prisons</h2>
        <div id="prisonInput">
          <div class="govuk-form-group">
            <label class="govuk-label" for="name">
              Prison name
            </label>
            <div id="prisons"></div><br>
            <button id="addAnother" type="submit" class="govuk-button">
              Add prison
            </button>
          </div>
        </div>

        <!-- <input type="button" id="add-button" class="button button-secondary add-list-item" value="Add another prison"> -->
        <!-- @todo make the auto complete work -->
        <!-- @todo make the add another work -->
        <form class="form" method="post">
        </div>
      </details>

      {{ govukButton({
        html: 'Save and continue'
      }) }}
    </form>
  </div>
</div>

{% endblock %}
