{% extends "layout.html" %}

{% block pageTitle %}
Manage email notifications - Prisoner money intelligence
{% endblock %}

<script type="text/javascript">

function addElement(files, p, 'file-' + fileId, html) {
    // Adds an element to the document
    var p = document.getElementById(files);
    var newElement = document.createElement(p);
    newElement.setAttribute('id', 'file-' + fileId);
    newElement.innerHTML = html;
    p.appendChild(newElement);
}

function removeElement(files) {
  // Removes an element from the document
  var element = document.getElementById(files);
  element.parentNode.removeChild(element);
}

var fileId = 0; // used by the addFile() function to keep track of IDs

function addFile() {
  fileId++; // increment fileId to get a unique ID for the new element
  var html = '<input type="file" name="uploaded_files[]" /> ' +
             '<a href="" onclick="javascript:removeElement('file-' + fileId + ''); return false;">Remove</a>';
  addElement('files', 'p', 'file-' + fileId, html);
}

</script>

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Your prisons
    </h1>

    <form enctype="multipart/form-data" action="" method="post">
        <p>Upload file(s)</p>
        <div id="files">
            <p><input type="file" name="uploaded_file[]" /></p>
        </div>
        <p><input type="button" value="Add File" onclick="javascript:addFile();" /></p>
    </form>


  </div>
</div>

{% endblock %}
