{% extends "layout-search-results.html" %}

{% set nav = 'payment' %}

{% block pageTitle %}
Advanced search
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Payment sources</span>
      Advanced search
    </h1>

  </div>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Payment source details</h2>

    <p class="govuk-body">Name, email and postcode are supplied by the payment source when they make a debit card payment. They are not validated. </p>
    <p class="govuk-body">When the payment source makes a bank transfer, the bank supplies the name on the bank account. </p>

        {{ govukInput({
      label: {
        text: "Name",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      classes: "govuk-input--width-20",
      id: "width-20",
      name: "width-20"
    }) }}

    {{ govukInput({
      label: {
        text: "Email",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      classes: "govuk-input--width-20",
      id: "width-20",
      name: "width-20"
    }) }}

    {{ govukInput({
      label: {
        text: "Postcode",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      classes: "govuk-input--width-20",
      id: "width-20",
      name: "width-20"
    }) }}

    {% set bankTransferHtml %}
    {{ govukInput({
      label: {
        text: "Account number",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      classes: "govuk-input--width-10",
      id: "width-10",
      name: "width-10"
    }) }}

    {{ govukInput({
      label: {
        text: "Sort code",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      classes: "govuk-input--width-10",
      id: "width-10",
      name: "width-10"
    }) }}
    {% endset -%}

    {% set debitCardHtml %}
    {{ govukInput({
      label: {
        text: "Last 4 digits of card number",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      classes: "govuk-input--width-10",
      id: "width-10",
      name: "width-10"
    }) }}
    {% endset -%}

    {{ govukRadios({
      idPrefix: "bank-transfer",
      name: "bank-transfer",
      fieldset: {
        legend: {
          text: "Payment method",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "any method",
          text: "Any method",
          checked: "true"
        },
        {
          value: "bank transfer",
          text: "Bank transfer",
          conditional: {
            html: bankTransferHtml
          }
        },
        {
          value: "debit card",
          text: "Debit card",
          conditional: {
            html: debitCardHtml
          }
        }
      ]
    }) }}

    {% include "includes/search_prisons_radios.html" %}

    {{ govukButton({
      text: "Search payment sources"
    }) }}


  </div>
</div>

{% endblock %}
