{% extends "layout-search-results.html" %}

{% set nav = 'payment' %}

{% block pageTitle %}
Advanced search
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Payment sources</span>
      Advanced search
    </h1>

  </div>

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Payment methods</h2>
    <h3 class="govuk-heading-m">Debit card</h3>

    <p class="govuk-body">Name and email are supplied by users when they make a debit card payment, they are not validated.</p>

    {{ govukInput({
      label: {
        text: "Name",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      classes: "govuk-input--width-20",
      id: "width-20",
      name: "width-20"
    }) }}

    {{ govukInput({
      label: {
        text: "Email",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      classes: "govuk-input--width-20",
      id: "width-20",
      name: "width-20"
    }) }}

    {{ govukInput({
      label: {
        text: "Postcode",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      classes: "govuk-input--width-20",
      id: "width-20",
      name: "width-20"
    }) }}

    {{ govukInput({
      label: {
        text: "Last 4 digits of card number",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      classes: "govuk-input--width-10",
      id: "width-10",
      name: "width-10"
    }) }}

    <h3 class="govuk-heading-m">Bank transfer</h3>

    {{ govukInput({
      label: {
        text: "Account number",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      classes: "govuk-input--width-10",
      id: "width-10",
      name: "width-10"
    }) }}

    {{ govukInput({
      label: {
        text: "Sort code",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      classes: "govuk-input--width-10",
      id: "width-10",
      name: "width-10"
    }) }}

    <h2 class="govuk-heading-l">Prison</h2>

    {{ govukInput({
      label: {
        text: "Prison name",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      classes: "govuk-input--width-20",
      id: "width-20",
      name: "width-20"
    }) }}

    {{ govukButton({
      text: "Search payment sources"
    }) }}


  </div>
</div>

{% endblock %}
