{% extends "layout_delayed_capture.html" %}

{% set nav = 'delayed' %}

{% block pageTitle %}
Delayed capture
{% endblock %}

{% block content %}

<!-- <script type="text/javascript">
function myFunction(){
alert("Hi")
  new MOJFrontend.SortableTable({
    table: $('table')[0];
  });
alert("Hi 2")
}
window.addEventListener("load", myFunction);
</script> -->

<style media="screen">
.added-to::before{
  content: "✓";
  font-size: 1.5em;
  color: #00703c;
}
.pending-table .govuk-table__cell{
  border-bottom: 0px;
  border-top: 1px solid #b1b4b6;
}
.rule-broken{
  /*border-bottom: 1px solid #b1b4b6; */
  /*color:#626a6e;*/
  /*font-size: 16px;*/
}
.rule-broken-text{
  padding-top: 0 !important;
  padding-bottom: 20px !important;
}
.moj-page-header-actions__actions{
  vertical-align: top
}
.moj-page-header-actions{
  margin-bottom: 0px;
}
.added-to{
  padding-left: 5px !important;
  /*font-size: 16px;*/
}
.govuk-table tbody th{
  font-weight: normal;
}
.td-override td {
  border-bottom: 0px !important;
}
.reason{
  padding-bottom: 20px !important;
  padding-top: 0px !important;
}
.datesent{
  border-bottom: 1px solid white;
}
.prereason{
  width: 34%;
}
.rulename{
  display: block;
  border-top: 1px solid white;
  margin: 0px;
}

.govuk-table tbody th{
  font-weight: normal;
}
tr {
  vertical-align: text-top;
}
.govuk-table tbody td{
  padding: 10px 0px;
}
.govuk-button{
  margin-bottom: 1em;
}
.moj-notification-badge{
  font-size: 19px;
  min-width: 20px;
  padding: 0px 5px;
  margin-right: 10px;
  /*border: 2px solid #0b0c0c;*/
}
.moj-notification-badge-P2{
  display: none;
  /*background-color: #f47738;
  color: #0b0c0c;*/
  /*background-color: #ffdd00;*/
  background-color: #f47738;
  color: #fff;
}
.moj-notification-badge-P3{
  display: none;
  /*background-color: #ffdd00;
  color: #0b0c0c;*/
  background-color: #28a197;
  color: #fff;
}
.moj-notification-badge-P4{
  /*background-color: #5694ca;
  color: #0b0c0c;*/
  background-color: #1d70b8;
  color: #fff;
}
.moj-notification-badge-P5{
  /*background-color: #626a6e;
  color: #fff;*/
  background-color: #0b0c0c;
  color: #fff;
}
.govuk-checkboxes__item{
  display: inline-block !important;
}
.govuk-checkboxes{
  display: inline-block !important;
  background-color: white;
  margin: 15px 0px -10px 0px;
}
.govuk-checkboxes--small{
  display: inline-block !important;
}
.govuk-checkboxes__input{
  display: inline-block !important;
}
.num-display .govuk-heading-l{
  margin-bottom: 5px;
  margin-left: 10px;
}
.num-display{
  display: inline-block;
  margin-right: 10px;
}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Credits to action',
        href: 'index'
      },{
        text: 'My list (8)',
        href: 'mylist'
      },{
        text: 'Decision history',
        href: 'history'
      },{
        text: 'Auto accepts',
        href: 'advanced-search',
        active: true
      }]
    }) }}

  </div>
</div>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl"></span>
  Auto accepts
</h1>




<table class="govuk-table govuk-!-margin-top-3">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Debit card (from)</th>
      <th scope="col" class="govuk-table__header">Prisoner (to)</th>
      <th scope="col" class="govuk-table__header" aria-sort="ascending">
        <button type="button" data-index="2">
          Started by
        </button>
      </th>
      <!-- <th scope="col" class="govuk-table__header">Started by</th> -->
      <th scope="col" class="govuk-table__header">Date started</th>
      <th scope="col" class="govuk-table__header">Reason</th>
      <th scope="col" class="govuk-table__header">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="1">Jones, Kate</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="1">Jones, Kate</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="1">Jones, Kate</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="1">Jones, Kate</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="1">Jones, Kate</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="1">Jones, Kate</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="1">Jones, Kate</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="1">Jones, Kate</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="1">Jones, Kate</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="1">Jones, Kate</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="2">Martin, Joe</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="2">Martin, Joe</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="2">Martin, Joe</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="2">Martin, Joe</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="2">Martin, Joe</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="2">Martin, Joe</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="2">Martin, Joe</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="2">Martin, Joe</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="2">Martin, Joe</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="2">Martin, Joe</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        **** **** **** 1111</br>Sender Name
      </td>
      <td class="govuk-table__cell">A1234AB</br>Prisoner Name</td>
      <td class="govuk-table__cell" data-sort-value="2">Martin, Joe</td>
      <td class="govuk-table__cell">DD/MM/YYYY</td>
      <td class="govuk-table__cell">Mother of prisoner</td>
      <td class="govuk-table__cell"><a class="govuk-button govuk-button--secondary" href="review_auto_accept">Review</a></td>
    </tr>


  </tbody>
</table>

{%- from "moj/components/pagination/macro.njk" import mojPagination -%}

{{ mojPagination({
  results: {
    from: 1,
    to: 20,
    count: 55
  },
  previous: {
    text: 'Previous',
    href: ''
  },
  next: {
    text: 'Next',
    href: ''
  },
  items: [{
    text: '1',
    href: '/page=1',
    selected: true
  }, {
    text: '2',
    href: '/page=2'
  }, {
    text: '3',
    href: '/page=3'
  }]
}) }}

</div>

</div>

<!-- <script src="/public/javascripts/vendor/jquery.min.js"></script>
<script src="/public/javascripts/all.js"></script>
<script src="/node_modules/moj-frontend/moj/all.js"></script>
<script src="/node_modules/govuk-frontend/govuk/all.js"></script>
<script>window.GOVUKFrontend.initAll();</script>

<script>
new MOJFrontend.SortableTable({
  table: $('table')[0]
});
</script> -->

{% endblock %}
