{% extends "layout_delayed_confirm.html" %}

{% set nav = 'delayed' %}

{% block pageTitle %}
Delayed capture
{% endblock %}

{% block content %}

<style media="screen">
.govuk-table td.reason{
  font-size: inherit;
}
td {
  border-bottom: 0px !important;
}
.reason{
  padding-bottom: 20px !important;
  padding-top: 0px !important;
}
.datesent{
  border-bottom: 1px solid white;
}
.prereason{
  width: 34%;
}
.rulename{
  display: block;
  margin-bottom: 0;
  /*color: #626a6e;*/
}
.govuk-table tbody th{
  font-weight: normal;
}
tr {
  vertical-align: text-top;
}
.govuk-table tbody td{
  padding: 10px 0px;
}
.govuk-button{
  margin-bottom: 1em;
}
.moj-notification-badge{
  font-size: 19px;
  min-width: 20px;
  padding: 0px 5px;
  margin-right: 5px;
  /*border: 2px solid #0b0c0c;*/
}
.moj-notification-badge-P2{
  display: none;
  /*background-color: #f47738;
  color: #0b0c0c;*/
  /*background-color: #ffdd00;*/
  background-color: #f47738;
  color: #fff;
}
.moj-notification-badge-P3{
  display: none;
  /*background-color: #ffdd00;
  color: #0b0c0c;*/
  background-color: #28a197;
  color: #fff;
}
.moj-notification-badge-P4{
  /*background-color: #5694ca;
  color: #0b0c0c;*/
  background-color: #1d70b8;
  color: #fff;
}
.moj-notification-badge-P5{
  /*background-color: #626a6e;
  color: #fff;*/
  background-color: #0b0c0c;
  color: #fff;
}
.govuk-checkboxes__item{
  display: inline-block !important;
}
.govuk-checkboxes{
  display: inline-block !important;
  background-color: white;
  margin: 15px 0px -10px 0px;
}
.govuk-checkboxes--small{
  display: inline-block !important;
}
.govuk-checkboxes__input{
  display: inline-block !important;
}
.num-display .govuk-heading-l{
  margin-bottom: 5px;
  margin-left: 10px;
}
.num-display{
  display: inline-block;
  margin-right: 10px;
}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="moj-page-header-actions">

      <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-xl">
          <h1 class="govuk-heading-xl">Review auto accept of credits from Sender Name to A1234AB </h1>
        </h1>
      </div>

    </div>

    <p class="govuk-heading-m govuk-!-margin-top-8">Auto accept history</p>


    <table class="govuk-table">
      <!-- <caption class="govuk-table__caption">Auto accept history</caption> -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">User</th>
          <th scope="col" class="govuk-table__header">Action</th>
          <th scope="col" class="govuk-table__header">Reason</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">DD/MM/YYYY HH:MM</td>
          <td class="govuk-table__cell">Joe Bloggs</td>
          <td class="govuk-table__cell">Start</td>
          <td class="govuk-table__cell">Partner</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">DD/MM/YYYY HH:MM</td>
          <td class="govuk-table__cell">Joe Bloggs</td>
          <td class="govuk-table__cell">Stop</td>
          <td class="govuk-table__cell">Partner started sending payments to Z1234ZZ</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">DD/MM/YYYY HH:MM</td>
          <td class="govuk-table__cell">Joe Bloggs</td>
          <td class="govuk-table__cell">Start</td>
          <td class="govuk-table__cell">Partner</td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-heading-m govuk-!-margin-top-8">Credit history</p>
    <table class="govuk-table govuk-!-margin-top-3">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date sent</th>
          <th scope="col" class="govuk-table__header">Debit card (from)</th>
          <th scope="col" class="govuk-table__header">Prisoner (to)</th>
          <th scope="col" class="govuk-table__header">Amount</th>
          <th scope="col" class="govuk-table__header">Decision</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
          </td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name <br>
            HMP Prison<br>
            A Wing 111</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell"><span class="moj-badge moj-badge--green">Auto accepted</span><br>by Joe Bloggs</td>
          </tr>
          <tr class="govuk-table__cell">
            <td colspan="1" class="prereason"></td>
            <td colspan="4" class="reason">
              <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span><strong>Reason for automatically accepting:</strong> Partner</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
              </td>
              <td class="govuk-table__cell">
                <a href="payment_source">Sender Name</a><br>
                **** **** **** 1111 11/22<br>
                sender@email.com <br>
                POST CODE
              </td>
              <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name <br>
                HMP Prison<br>
                A Wing 111</td>
                <td class="govuk-table__cell">£XX</td>
                <td class="govuk-table__cell"><span class="moj-badge moj-badge--green">Auto accepted</span><br>by Joe Bloggs</td>
              </tr>
              <tr class="govuk-table__cell">
                <td colspan="1" class="prereason"></td>
                <td colspan="4" class="reason">
                  <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span><strong>Reason for automatically accepting:</strong> Partner</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
                  </td>
                  <td class="govuk-table__cell">
                    <a href="payment_source">Sender Name</a><br>
                    **** **** **** 1111 11/22<br>
                    sender@email.com <br>
                    POST CODE
                  </td>
                  <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name <br>
                    HMP Prison<br>
                    A Wing 111</td>
                    <td class="govuk-table__cell">£XX</td>
                    <td class="govuk-table__cell"><span class="moj-badge moj-badge--green">Accepted</span><br>by Joe Bloggs</td>
                  </tr>
                  <tr class="govuk-table__cell">
                    <td colspan="1" class="prereason"></td>
                    <td colspan="4" class="reason">
                      <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
                      <strong>Decision details:</strong> Further details: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </td>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
                    </td>
                    <td class="govuk-table__cell">
                      <a href="payment_source">Sender Name</a><br>
                      **** **** **** 1111 11/22<br>
                      sender@email.com <br>
                      POST CODE
                    </td>
                    <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name <br>
                      HMP Prison<br>
                      A Wing 111</td>
                      <td class="govuk-table__cell">£XX</td>
                      <td class="govuk-table__cell"><span class="moj-badge moj-badge--green">Accepted</span><br>by Joe Bloggs</td>
                    </tr>
                    <tr class="govuk-table__cell">
                      <td colspan="1" class="prereason"></td>
                      <td colspan="4" class="reason">
                        <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
                        <strong>Decision details:</strong> Further details: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </td>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
                      </td>
                      <td class="govuk-table__cell">
                        <a href="payment_source">Sender Name</a><br>
                        **** **** **** 1111 11/22<br>
                        sender@email.com <br>
                        POST CODE
                      </td>
                      <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name <br>
                        HMP Prison<br>
                        A Wing 111</td>
                        <td class="govuk-table__cell">£XX</td>
                        <td class="govuk-table__cell"><span class="moj-badge moj-badge--green">Accepted</span><br>by Joe Bloggs</td>
                      </tr>
                      <tr class="govuk-table__cell">
                        <td colspan="1" class="prereason"></td>
                        <td colspan="4" class="reason">
                          <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
                          <strong>Decision details:</strong> Further details: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </td>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
                        </td>
                        <td class="govuk-table__cell">
                          <a href="payment_source">Sender Name</a><br>
                          **** **** **** 1111 11/22<br>
                          sender@email.com <br>
                          POST CODE
                        </td>
                        <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name <br>
                          HMP Prison<br>
                          A Wing 111</td>
                          <td class="govuk-table__cell">£XX</td>
                          <td class="govuk-table__cell"><span class="moj-badge moj-badge--green">Accepted</span><br>by Joe Bloggs</td>
                        </tr>
                        <tr class="govuk-table__cell">
                          <td colspan="1" class="prereason"></td>
                          <td colspan="4" class="reason">
                            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
                            <strong>Decision details:</strong> Further details: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </td>
                          </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
                          </td>
                          <td class="govuk-table__cell">
                            <a href="payment_source">Sender Name</a><br>
                            **** **** **** 1111 11/22<br>
                            sender@email.com <br>
                            POST CODE
                          </td>
                          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name <br>
                            HMP Prison<br>
                            A Wing 111</td>
                            <td class="govuk-table__cell">£XX</td>
                            <td class="govuk-table__cell"><span class="moj-badge moj-badge--green">Accepted</span><br>by Joe Bloggs</td>
                          </tr>
                          <tr class="govuk-table__cell">
                            <td colspan="1" class="prereason"></td>
                            <td colspan="4" class="reason">
                              <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
                              <strong>Decision details:</strong> Further details: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </td>
                            </td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
                            </td>
                            <td class="govuk-table__cell">
                              <a href="payment_source">Sender Name</a><br>
                              **** **** **** 1111 11/22<br>
                              sender@email.com <br>
                              POST CODE
                            </td>
                            <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name <br>
                              HMP Prison<br>
                              A Wing 111</td>
                              <td class="govuk-table__cell">£XX</td>
                              <td class="govuk-table__cell"><span class="moj-badge moj-badge--green">Accepted</span><br>by Joe Bloggs</td>
                            </tr>
                            <tr class="govuk-table__cell">
                              <td colspan="1" class="prereason"></td>
                              <td colspan="4" class="reason">
                                <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
                                <strong>Decision details:</strong> Further details: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </td>
                              </td>
                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
                              </td>
                              <td class="govuk-table__cell">
                                <a href="payment_source">Sender Name</a><br>
                                **** **** **** 1111 11/22<br>
                                sender@email.com <br>
                                POST CODE
                              </td>
                              <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name <br>
                                HMP Prison<br>
                                A Wing 111</td>
                                <td class="govuk-table__cell">£XX</td>
                                <td class="govuk-table__cell"><span class="moj-badge moj-badge--red">Rejected</span><br>by Joe Bloggs</td>
                              </tr>
                              <tr class="govuk-table__cell">
                                <td colspan="1" class="prereason"></td>
                                <td colspan="4" class="reason">
                                  <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
                                  <strong>Decision details:</strong> Further details: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </td>
                                </td>
                              </tr>
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
                                </td>
                                <td class="govuk-table__cell">
                                  <a href="payment_source">Sender Name</a><br>
                                  **** **** **** 1111 11/22<br>
                                  sender@email.com <br>
                                  POST CODE
                                </td>
                                <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name <br>
                                  HMP Prison<br>
                                  A Wing 111</td>
                                  <td class="govuk-table__cell">£XX</td>
                                  <td class="govuk-table__cell"><span class="moj-badge moj-badge--red">Rejected</span><br>by Joe Bloggs</td>
                                </tr>
                                <tr class="govuk-table__cell">
                                  <td colspan="1" class="prereason"></td>
                                  <td colspan="4" class="reason">
                                    <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
                                    <strong>Decision details:</strong> Further details: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </td>
                                  </td>
                                </tr>

                              </tbody>
                            </table>

                            {%- from "moj/components/pagination/macro.njk" import mojPagination -%}

                            {{ mojPagination({
                              results: {
                                from: 1,
                                to: 10,
                                count: 30
                              },
                              previous: {
                                text: 'Previous',
                                href: ''
                              },
                              next: {
                                text: 'Next',
                                href: ''
                              },
                              items: [{
                                text: '1',
                                href: '/page=1',
                                selected: true
                              }, {
                                text: '2',
                                href: '/page=2'
                              }, {
                                text: '3',
                                href: '/page=3'
                              }]
                            }) }}

                            <div class="govuk-grid-row govuk-!-margin-top-9">
                              <div class="govuk-grid-column-two-thirds">
                                <!-- <h2 class="govuk-heading-l govuk-!-margin-top-6">Stop auto accept</h2> -->
                                <h3 class="govuk-heading-m">To stop auto accept:</h3>


                                <div class="govuk-form-group">
                                  <label class="govuk-label" for="more-detail-16">
                                    Give details why auto accept is to stop
                                  </label>
                                  <textarea class="govuk-textarea" id="more-detail-16" name="more-detail-16" rows="2" aria-describedby="more-detail-hint"></textarea>
                                </div>
                                <a class="govuk-button govuk-!-margin-bottom-4" style="display:block; width:180px; background-color:#d4351c;" href="advanced_search_results_02" >Stop auto accept</a>

                                <a href="advanced_search_results_02" class="govuk-back-link">Back</a>



                                <!-- <h3 class="govuk-heading-m govuk-!-margin-top-4">To continue auto accept:</h3>

                                <div class="govuk-form-group">
                                <label class="govuk-label" for="more-detail-16">
                                Update reason for auto accepting (optional)
                              </label>
                              <textarea class="govuk-textarea" id="more-detail-16" name="more-detail-16" rows="2" aria-describedby="more-detail-hint"></textarea>
                            </div>

                            <a class="govuk-button" href="advanced_search_results_02">Continue auto accept</a> -->
                          </div></div>
                        </div>
                      </div>



                      {% endblock %}
