<table c<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Notifications</caption>
  <thead class="govuk-table__head hack-table-row-vertical-align-top govuk-!-font-size-14">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-table__header" scope="col">Recipient’s name</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Recipient’s bank account</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Number of disbursements</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body hack-table-row-vertical-align-top govuk-!-font-size-14">
    <tr>
      <td class="govuk-table__cell govuk-table__cell">Debra Edwards</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">29614399</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View details</a></td>
    </tr>
    <tr>
      <td class="govuk-table__cell govuk-table__cell">Nigel Cunningham</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">65417697</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View details</a></td>
    </tr>
    <tr>
      <td class="govuk-table__cell govuk-table__cell">Eileen Parker</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">942759991</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">13</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View details</a></td>
    </tr>
    <tr>
      <td class="govuk-table__cell govuk-table__cell">Lorraine Bradley</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">90762093</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View details</a></td>
    </tr>
  </tbody>
</table>
