<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Notifications</caption>
  <thead class="govuk-table__head hack-table-row-vertical-align-top govuk-!-font-size-16">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-table__header" scope="col">Date</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Prisoners name & number</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Prison</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Sender's name</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Sender's card number or bank account</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body hack-table-row-vertical-align-top govuk-!-font-size-14">
      <tr >
        <td class="govuk-table__cell govuk-table__cell">30/04/2019</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread">£160.00</td>
        <td class="govuk-table__cell govuk-table__cell">JASON NICHOLLS <br> A2659RX</td>
        <td class="govuk-table__cell govuk-table__cell">HMP Lowdham Grange</td>
        <td class="govuk-table__cell govuk-table__cell">Karen Barnes</td>
        <td class="govuk-table__cell govuk-table__cell">Card ending: 0211</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread"><a href="notifications-detail">View details</a></td>
      </tr>
      <tr >
        <td class="govuk-table__cell govuk-table__cell">29/04/2019</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread">£210.00</td>
        <td class="govuk-table__cell govuk-table__cell">KYLE FIELD <br> A6931MZ</td>
        <td class="govuk-table__cell govuk-table__cell">HMP Lowdham Grange</td>
        <td class="govuk-table__cell govuk-table__cell">Daniel Jones</td>
        <td class="govuk-table__cell govuk-table__cell">Card ending: 1894</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread"><a href="notifications-detail">View details</a></td>
      </tr>

  </tbody>
</table>
