<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Notifications</caption>
  <thead class="govuk-table__head hack-table-row-vertical-align-top govuk-!-font-size-16">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-table__header" scope="col">Date</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Prisoners name & number</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Prison</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Senders name</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Senders card number or bank account</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body hack-table-row-vertical-align-top govuk-!-font-size-16">
      <tr class="govuk-!-font-weight-bold">
        <td class="govuk-table__cell govuk-table__cell">08/01/2019</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread">£120.00</td>
        <td class="govuk-table__cell govuk-table__cell">Sabina Blake <br> A1300MM</td>
        <td class="govuk-table__cell govuk-table__cell">HMP/YOI Wandsworth</td>
        <td class="govuk-table__cell govuk-table__cell">Zane Weaver</td>
        <td class="govuk-table__cell govuk-table__cell">Card number ending: 8911</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread"><a href="notifications-detail">View</a></td>
      </tr>
      <tr class="govuk-!-font-weight-bold">
        <td class="govuk-table__cell govuk-table__cell">29/12/2018</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread">£120.00</td>
        <td class="govuk-table__cell govuk-table__cell">Sabina Blake <br> A1300MM</td>
        <td class="govuk-table__cell govuk-table__cell">HMP/YOI Wandsworth</td>
        <td class="govuk-table__cell govuk-table__cell">Zane Weaver</td>
        <td class="govuk-table__cell govuk-table__cell">Card number ending: 8911</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread"><a href="notifications-detail">View</a></td>
      </tr>
      <tr class="govuk-!-font-weight-bold">
        <td class="govuk-table__cell govuk-table__cell">14/01/2019</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread">£130.00</td>
        <td class="govuk-table__cell govuk-table__cell">Sabina Blake <br> A1300MM</td>
        <td class="govuk-table__cell govuk-table__cell">HMP/YOI Wandsworth</td>
        <td class="govuk-table__cell govuk-table__cell">Zane Weaver</td>
        <td class="govuk-table__cell govuk-table__cell">Card number ending: 8911</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread"><a href="notifications-detail">View</a></td>
      </tr>
      <tr class="govuk-!-font-weight-bold">
        <td class="govuk-table__cell govuk-table__cell">25/12/2018</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread">£130.00</td>
        <td class="govuk-table__cell govuk-table__cell">Sabina Blake <br> A1300MM</td>
        <td class="govuk-table__cell govuk-table__cell">HMP/YOI Wandsworth</td>
        <td class="govuk-table__cell govuk-table__cell">Zane Weaver</td>
        <td class="govuk-table__cell govuk-table__cell">Card number ending: 8911</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread"><a href="notifications-detail">View</a></td>
      </tr>
      <tr class="govuk-!-font-weight-bold">
        <td class="govuk-table__cell govuk-table__cell">27/12/2018</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread">£628.00</td>
        <td class="govuk-table__cell govuk-table__cell">Teo Hart <br> G6734AB</td>
        <td class="govuk-table__cell govuk-table__cell">HMP/YOI Wandsworth</td>
        <td class="govuk-table__cell govuk-table__cell">Harvey-Lee Richards</td>
        <td class="govuk-table__cell govuk-table__cell">Card number ending: 9508</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread"><a href="notifications-detail">View</a></td>
      </tr>
      <tr class="govuk-!-font-weight-bold">
        <td class="govuk-table__cell govuk-table__cell">15/01/2019</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread">£122.00</td>
        <td class="govuk-table__cell govuk-table__cell">Shanna Ahmed <br> A9880NY</td>
        <td class="govuk-table__cell govuk-table__cell">HMP/YOI Wandsworth</td>
        <td class="govuk-table__cell govuk-table__cell">Manon Ferguson</td>
        <td class="govuk-table__cell govuk-table__cell">Card number ending: 7403</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread"><a href="notifications-detail">View</a></td>
      </tr>
      <tr class="govuk-!-font-weight-bold">
        <td class="govuk-table__cell govuk-table__cell">15/01/2019</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread">£300.00</td>
        <td class="govuk-table__cell govuk-table__cell">Bronwen Meyer <br> A8053KC</td>
        <td class="govuk-table__cell govuk-table__cell">HMP/YOI Bedford</td>
        <td class="govuk-table__cell govuk-table__cell">Osian Swan</td>
        <td class="govuk-table__cell govuk-table__cell">Card number ending: 5599</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread"><a href="notifications-detail">View</a></td>
      </tr>
      <tr class="govuk-!-font-weight-bold">
        <td class="govuk-table__cell govuk-table__cell">16/01/2019</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread">£300.00</td>
        <td class="govuk-table__cell govuk-table__cell">Valentino Heaton <br> A2005BJ</td>
        <td class="govuk-table__cell govuk-table__cell">HMP/YOI Wandsworth</td>
        <td class="govuk-table__cell govuk-table__cell">Jeanette Mullen</td>
        <td class="govuk-table__cell govuk-table__cell">Card number ending: 2968</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread"><a href="notifications-detail">View</a></td>
      </tr>
      <tr class="govuk-!-font-weight-bold">
        <td class="govuk-table__cell govuk-table__cell">17/01/2019</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread">£1,000.00</td>
        <td class="govuk-table__cell govuk-table__cell">Taran Kramer <br> A6527MU</td>
        <td class="govuk-table__cell govuk-table__cell">HMP/YOI Deerbolt</td>
        <td class="govuk-table__cell govuk-table__cell">Aoife Schwartz</td>
        <td class="govuk-table__cell govuk-table__cell">Account number:&nbsp;&nbsp;98564320</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread"><a href="notifications-detail">View</a></td>
      </tr>
      <tr class="govuk-!-font-weight-bold">
        <td class="govuk-table__cell govuk-table__cell">16/01/2019</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread">£345.87</td>
        <td class="govuk-table__cell govuk-table__cell">Stanislaw O'Brien <br> A0897NU</td>
        <td class="govuk-table__cell govuk-table__cell">HMP/YOI Deerbolt</td>
        <td class="govuk-table__cell govuk-table__cell">Antoni Emerson</td>
        <td class="govuk-table__cell govuk-table__cell">Card number ending: 9500</td>
        <td class="govuk-table__cell govuk-table__cell--numeric hack-numeric-unread"><a href="notifications-detail">View</a></td>
      </tr>
  </tbody>
</table>
