<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Disbursements over £120</caption>
  <thead class="govuk-table__head hack-table-row-vertical-align-top govuk-!-font-size-14">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-table__header" scope="col">Date </th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Prisoner’s name and number</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Prison</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Recipient’s name</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Recipient’s bank account</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body hack-table-row-vertical-align-top govuk-!-font-size-14">
    <tr>
      <td class="govuk-table__cell govuk-table__cell">29/04/2019</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£210.00</td>
      <td class="govuk-table__cell govuk-table__cell">JAMES HALLS <br> A1409AE</td>
      <td class="govuk-table__cell govuk-table__cell">HMP Lowdham Grange</td>
      <td class="govuk-table__cell govuk-table__cell">Debra Edwards</td>
      <td class="govuk-table__cell govuk-table__cell">Account number: 29614399</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="notifications-detail-JAMES-HALLS-disbursment">View details</a></td>
    </tr>
  </tbody>
</table>
