<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Notifications</caption>
  <thead class="govuk-table__head hack-table-row-vertical-align-top govuk-!-font-size-14">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-table__header" scope="col">Prisoner notifications
Prisoner’s name and number</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Prison</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Number of recipients</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body hack-table-row-vertical-align-top govuk-!-font-size-14">
    <tr>
      <td class="govuk-table__cell govuk-table__cell">ALEX BOOTH <br>A0478LD</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">HMP Lowdham Grange</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">6</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="ALEX-BOOTH-DISBURSMENTS">View details</a></td>
    </tr>
  </tbody>
</table>
