{% extends "layout.html" %}

{% block pageTitle %}
Prototype admin
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Set data variables
    </h1>

    <p class="govuk-body-l">Use this form to set data for testing. Some pages need initial data values to work.</p>

    <form class="form" method="post">

      {{ govukInput({
        label: {
          text: "Full name"
        },
        hint: {
          text: "Will be displayed in the top right"
          },
        id: "userName",
        name: "userName",
        value: "Gavin Wye"
      }) }}

      {{ govukInput({
        label: {
          text: "Default prison"
        },
        hint: {
          text: "Will be displayed on the prison selection page and setting page"
          },
        id: "prisonName",
        name: "prisonName",
        value: "HMP/YOI Downview"
      }) }}

      {{ govukButton({
        html: 'Save data'
      }) }}

    </form>
  </div>
</div>

{% endblock %}
