{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
Confirmation page - Prisoner money intelligence
{% endblock %}

{%block beforeContent%}
{% include "includes/pilot-banner.html" %}
{% endblock%}

{% block content %}

<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Email notifications</h1>
  </div>
</div> -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-panel govuk-panel--confirmation ">
      <h1 class="govuk-headign-s govuk-!-margin-bottom-0 govuk-!-margin-top-0">Your notification settings have been saved</h1>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l govuk-!-margin-top-6">We'll send your notification emails to <span class="govuk-!-font-weight-bold">name@hmpps.gov.uk</span>.</p>
    <p class="govuk-body">You can <a href="#">edit your notification settings</a> at any time.</p>
    {% from "button/macro.njk" import govukButton %}
    <form class="form" method="post">
    {{ govukButton({
      text: "Go to homepage"
    }) }}
  </form>
  </div>
</div>

{% endblock %}
