{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Email
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Email</h1>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h1 class="govuk-heading-l">
      New intelligence tool notifications
    </h1>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      You have 3 transactions to view
    </h2>

    <h3 class="govuk-heading-s">
      Credits or disbursements:
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>credits over £120 - 7 notifications</li>
      <li>disbursements over £120 - 2 notifications</li>
    </ul>

    <h3 class="govuk-heading-s">
      Frequency of transactions:
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>4 or more credits sent by a single debit card in last 4 weeks - 11 notifications</li>
      <li>4 or more disbursements sent by a single bank account in last 4 weeks - 1 notification</li>
    </ul>

    <form class="form" method="post">
      {% from "button/macro.njk" import govukButton %}
      {{ govukButton({
      html: 'View your notifications'
    }) }}
    </form>

  </div>
</div>

{% endblock %}
