{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Email
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Email</h1>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h1 class="govuk-heading-l">
      New notification features added to intelligence tool...
    </h1>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <p class="govuk-body">
      Dear [intelligence tool user],
    </p>

    <p class="govuk-body">
      We've updated the prisoner money intelligence tool.
    </p>

    <p class="govuk-body">
      At the moment, you can search for, identify and monitor transactions in one or many prisons. But we’ve added features so you can look at more specific transactions, for example, when:
    </p>

    {# Remove 'govuk-list--bullet' class for standard list #}
    <ul class="govuk-list govuk-list--bullet">
      <li>a sender credits several prisoner accounts</li>
      <li>unusual amounts of money are sent in or out (eg, high or irregular numbers)</li>
      <li>a prisoner sends money out to many accounts</li>
    </ul>

    {# Paragraph font size class suffixes: -l or -s #}
    <p class="govuk-body">
      A notifications screen within the intelligence tool updates daily so you can check for anything of interest.
    </p>

    <p class="govuk-body">You can also choose to have new notifications sent to you in a daily or weekly email.</p>

    <p class="govuk-body">Why not set up your notifications now, even if you haven't used the tool much before?</p>

    <form class="form" method="post">
      {% from "button/macro.njk" import govukButton %}
      {{ govukButton({
      html: 'Set up notifications'
    }) }}
    </form>

    <p class="govuk-body">
      Kind regards,<br>
      Prisoner money team
    </p>
  </div>
</div>

{% endblock %}
