{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Email
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Email</h1>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h1 class="govuk-heading-l">
      Prisoner money intelligence tool, new notifications feature
    </h1>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <p class="govuk-body">
      Dear [Name],
    </p>

    <!-- <p class="govuk-body">
      We've updated the prisoner money intelligence tool.
    </p> -->

    <p class="govuk-body">
      We’ve added a notifications feature so you can look at more specific transactions, for example, when:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a prisoner sends money out to many accounts</li>
      <li>a sender credits several prisoner accounts</li>
      <li>unusual amounts of money are sent in or out</li>
    </ul>

    <p class="govuk-body">
      A notifications screen updates daily so you can check for anything of interest.
    </p>

    <p class="govuk-body">From now on we'll send you an email you every Monday with an overview of the last weeks transactions.</p>

    <p class="govuk-body">You can turn these email notifications off at any time  time from your <a href="#">profile screen</a>.</p>

    <form class="form" method="post">
      <input type="hidden" name="notificationsEmail" value="notificationsEmail">
      {% from "button/macro.njk" import govukButton %}
      {{ govukButton({
        html: 'View your notifications'
      }) }}
    </form>

    <p class="govuk-body">Notifications is a new feature – your <a href="/profile">feedback</a> will help us to improve it.</p>


    <!-- <p class="govuk-body">
      Kind regards,<br>
      Prisoner money team
    </p> -->
  </div>
</div>

{% endblock %}
