{% extends "layout.html" %}

{% block pageTitle %}
Manage email notifications - Prisoner money intelligence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      What do you want to be notified about?
    </h1>
    hint: {
      html: "All intelligence is available on the tool at all times but you can set up notifications for specific transactions. "
    },
    <form class="form" method="post">

      {% from "checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        idPrefix: "monitoredTransactions",
        name: "monitoredTransactions",
        fieldset: {
          legend: {
            text: "Monitored transactions",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m govuk-!-padding-top-4"
          }
        },
        items: [
          {
            value: "allTransactions",
            text: "All transactions you’re already following, eg prisoners, debit cards, bank accounts"
          }
        ]
      }) }}

      {{ govukCheckboxes({
        idPrefix: "amounts",
        name: "amounts",
        fieldset: {
          legend: {
            text: "Credits and disbursements",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-4"
          }
        },
        items: [
          {
            value: "creditsOrDisbursementsThatAreNotAWholeNumber",
            text: "Not a whole number, eg £25.19"
          },
          {
            value: "creditsOrDisbursementsOver200",
            text: "Over the debit card maximum of £200"
          }
        ]
      }) }}

      {{ govukCheckboxes({
        idPrefix: "frequencyOfTransactions",
        name: "frequencyOfTransactions",
        fieldset: {
          legend: {
            text: "Frequency of transactions",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-4 govuk-!-padding-top-4"
          }
        },
        items: [
          {
            value: "moreThan4CreditsFromTheSameDebitCardOrBankAccountToAnyPrisonerWithin4Weeks",
            text: "4 or more credits to any prisoner in last 4 weeks"
          },
          {
            value: "moreThan4DisbursementsFromAnyPrisonerToTheSameBankAccountWithin4Weeks",
            text: "4 or more disbursements in last 4 weeks"
          }
        ]
      }) }}


      {{ govukCheckboxes({
        idPrefix: "aPrisoner",
        name: "aPrisoner",
        fieldset: {
          legend: {
            text: "Prisoner receives or sends:",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-4 govuk-!-padding-top-4"
          }
        },
        items: [
          {
            value: "aPrisonerGettingMoneyFromMoreThan4DebitCardsOrBankAccountsWithin4Weeks",
            text: "Money from 4 or more debit cards or bank accounts in last 2 weeks"
          },
          {
            value: "aPrisonerSendingMoneyToMoreThan4BankAccountsWithin4Weeks",
            text: "Money to 4 or more bank accounts in last 2 weeks"
          }
        ]
      }) }}

      {{ govukCheckboxes({
        idPrefix: "aDebitCardOrBankAccount",
        name: "aDebitCardOrBankAccount",
        fieldset: {
          legend: {
            text: "A debit card or bank account",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-4 govuk-!-padding-top-4"
          }
        },

        items: [
          {
            value: "aDebitCardOrBankAccountSendingMoneyToMoreThan4PrisonersWithin4Weeks",
            text: "Money coming in from 4 or more debit cards or bank accounts in last 2 weeks"
          },
          {
            value: "aBankAccountGettingMoneyFromMoreThan4PrisonersWithin4Weeks",
            text: "Money going out to 4 or more bank accounts in last 2 weeks"
          }
        ]
      }) }}

      {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "howOftenDoYouWantEmails",
        name: "howOftenDoYouWantEmails",
        fieldset: {
          legend: {
            text: "How often do you want emails?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-2 govuk-!-padding-top-4"
          }
        },
        hint: {
          html: "We group your notifications and can email you them:"
        },
        items: [
          {
            value: "onceADay",
            text: "Once a day"
          },
          {
            value: "onceAWeek",
            text: "Once a week"
          },
          {
            value: "onceAMonth",
            text: "I don’t want email notifications"
          }
        ]
      }) }}

      {{ govukButton({
          html: 'Save notifications'
      }) }}
    </form>
  </div>
</div>

{% endblock %}
