{% extends "layout.html" %}

{% block pageTitle %}
Prisoner money intelligence - manage email notifications
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Manage email notifications
    </h1>

    <p class="govuk-body-l">
      All intelligence is available on the tool but you can be notified about specific transactions you want to monitor.
    </p>


    <h2 class="govuk-heading-l">What do you want to be notified about?</h2>

    <form class="form" method="post">

      {% from "checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        idPrefix: "monitoredTransactions",
        name: "monitoredTransactions",
        fieldset: {
          legend: {
            text: "Monitored transactions",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m govuk-!-padding-top-4"
          }
        },
        items: [
          {
            value: "allTransactions",
            text: "All transactions you’re currently following, eg prisoners, debit cards, bank accounts"
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-padding-top-4">Credits and disbursements</h2>

      {{ govukCheckboxes({
        idPrefix: "amounts",
        name: "amounts",
        fieldset: {
          legend: {
            text: "Money sent in and sent out that is:",
            isPageHeading: false,
            classes: "govuk-body-l govuk-!-margin-bottom-4"
          }
        },
        items: [
          {
            value: "creditsOrDisbursementsThatAreNotAWholeNumber",
            text: "Not a whole number, eg £25.19"
          },
          {
            value: "creditsOrDisbursementsOver200",
            text: "Over the debit card maximum of £200"
          }
        ]
      }) }}


      <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-padding-top-4">Frequency of transactions</h2>
      {{ govukCheckboxes({
        idPrefix: "frequencyOfTransactions",
        name: "frequencyOfTransactions",
        fieldset: {
          legend: {
            text: "Money sent in or out more often than usual, so:",
            isPageHeading: false,
            classes: "govuk-body-l govuk-!-margin-bottom-4 "
          }
        },
        items: [
          {
            value: "moreThan10CreditsFromTheSameDebitCardOrBankAccountToAnyPrisonerWithin4Weeks",
            text: "More than 10 credits from the same debit card or bank account to any prisoner within 2 weeks"
          },
          {
            value: "moreThan10DisbursementsFromAnyPrisonerToTheSameBankAccountWithin4Weeks",
            text: "More than 10 disbursements from any prisoner to the same bank account within 2 weeks"
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-padding-top-4">A prisoner</h2>
      {{ govukCheckboxes({
        idPrefix: "aPrisoner",
        name: "aPrisoner",
        fieldset: {
          legend: {
            text: "Prisoner is sent or sends out more money than usual, so when:",
            isPageHeading: false,
            classes: "govuk-body-l govuk-!-margin-bottom-4"
          }
        },
        items: [
          {
            value: "aPrisonerGettingMoneyFromMoreThan10DebitCardsOrBankAccountsWithin4Weeks",
            text: "That prisoner is sent money from more than 10 debit cards or bank accounts within 2 weeks"
          },
          {
            value: "aPrisonerSendingMoneyToMoreThan10BankAccountsWithin4Weeks",
            text: "That prisoner sends out money to more than 10 bank accounts within 2 weeks"
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-padding-top-4">A debit card or bank account</h2>
      {{ govukCheckboxes({
        idPrefix: "aDebitCardOrBankAccount",
        name: "aDebitCardOrBankAccount",
        fieldset: {
          legend: {
            text: "Money coming in from or going out to many debit cards to bank accounts, so:",
            isPageHeading: false,
            classes: "govuk-body-l govuk-!-margin-bottom-4"
          }
        },

        items: [
          {
            value: "aDebitCardOrBankAccountSendingMoneyToMoreThan10PrisonersWithin4Weeks",
            text: "Money coming in from 10 debit cards or bank accounts within 2 weeks"
          },
          {
            value: "aBankAccountGettingMoneyFromMoreThan10PrisonersWithin4Weeks",
            text: "Money going out from 10 debit cards or bank accounts within 2 weeks"
          }
        ]
      }) }}

      {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "howOftenDoYouWantEmails",
        name: "howOftenDoYouWantEmails",
        fieldset: {
          legend: {
            text: "How often do you want emails?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-4"
          }
        },
        hint: {
          html: "We group your notifications and can email you them:"
        },
        items: [
          {
            value: "onceADay",
            text: "Once a day"
          },
          {
            value: "onceAWeek",
            text: "Once a week"
          },
          {
            value: "onceAMonth",
            text: "I don’t want email notifications"
          }
        ]
      }) }}

      {{ govukButton({
          html: 'Save notifications'
      }) }}
    </form>
  </div>
</div>

{% endblock %}