{% extends "layout.html" %}

{% block pageTitle %}
Manage email notifications - Prisoner money intelligence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Set up notifications
    </h1>

    <p class="govuk-body-l">
      All intelligence is available on the tool but you can be notified about specific transactions you want to monitor or are already monitoring.
    </p>


    <h2 class="govuk-heading-l">What do you want to be notified about?</h2>

    <form class="form" method="post">

      {% from "checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        idPrefix: "monitoredTransactions",
        name: "monitoredTransactions",
        fieldset: {
          legend: {
            text: "Monitored transactions",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m govuk-!-padding-top-4"
          }
        },
        items: [
          {
            value: "allTransactions",
            text: "All transactions you’re already following, eg prisoners, debit cards, bank accounts"
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-padding-top-4">Credits and disbursements</h2>

      {{ govukCheckboxes({
        idPrefix: "amounts",
        name: "amounts",
        fieldset: {
          legend: {
            text: "Money sent in and sent out that is:",
            isPageHeading: false,
            classes: "govuk-body-l govuk-!-margin-bottom-4"
          }
        },
        items: [
          {
            value: "creditsOrDisbursementsThatAreNotAWholeNumber",
            text: "Not a whole number, eg £25.19"
          },
          {
            value: "creditsOrDisbursementsOver200",
            text: "Over the debit card maximum of £200"
          }
        ]
      }) }}


      <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-padding-top-4">Frequency of transactions</h2>

      {{ govukCheckboxes({
        idPrefix: "frequencyOfTransactions",
        name: "frequencyOfTransactions",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-body-l govuk-!-margin-bottom-4 "
          }
        },
        items: [
          {
            value: "moreThan4CreditsFromTheSameDebitCardOrBankAccountToAnyPrisonerWithin4Weeks",
            text: "4 or more credits to any prisoner within 4 weeks"
          },
          {
            value: "moreThan4DisbursementsFromAnyPrisonerToTheSameBankAccountWithin4Weeks",
            text: "4 or more disbursements within 4 weeks"
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-padding-top-4">Prisoner accounts</h2>
      {{ govukCheckboxes({
        idPrefix: "aPrisoner",
        name: "aPrisoner",
        fieldset: {
          legend: {
            text: "Prisoner receives or sends:",
            isPageHeading: false,
            classes: "govuk-body-l govuk-!-margin-bottom-4"
          }
        },
        items: [
          {
            value: "aPrisonerGettingMoneyFromMoreThan4DebitCardsOrBankAccountsWithin4Weeks",
            text: "Money from 4 or more debit cards or bank accounts within 2 weeks"
          },
          {
            value: "aPrisonerSendingMoneyToMoreThan4BankAccountsWithin4Weeks",
            text: "Money to 4 or more bank accounts within 2 weeks"
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-padding-top-4">A debit card or bank account</h2>
      {{ govukCheckboxes({
        idPrefix: "aDebitCardOrBankAccount",
        name: "aDebitCardOrBankAccount",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-body-l govuk-!-margin-bottom-4"
          }
        },

        items: [
          {
            value: "aDebitCardOrBankAccountSendingMoneyToMoreThan4PrisonersWithin4Weeks",
            text: "Money coming in from 4 or more debit cards or bank accounts within 2 weeks"
          },
          {
            value: "aBankAccountGettingMoneyFromMoreThan4PrisonersWithin4Weeks",
            text: "Money going out from 4 or more debit cards or bank accounts within 2 weeks"
          }
        ]
      }) }}

      {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "howOftenDoYouWantEmails",
        name: "howOftenDoYouWantEmails",
        fieldset: {
          legend: {
            text: "How often do you want emails?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-4"
          }
        },
        hint: {
          html: "We group your notifications and can email you them:"
        },
        items: [
          {
            value: "onceADay",
            text: "Once a day"
          },
          {
            value: "onceAWeek",
            text: "Once a week"
          },
          {
            value: "onceAMonth",
            text: "I don’t want email notifications"
          }
        ]
      }) }}

      {{ govukButton({
          html: 'Save notifications'
      }) }}
    </form>
  </div>
</div>

{% endblock %}