{% extends "layout.html" %}

{% block pageTitle %}
Notifications
{% endblock %}

{%block beforeContent%}

{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
    Notifications
  </h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">Your notifications for 08/08/2018 - 14/08/2018</p>
    <p class="govuk-body"><a class="govuk-link" href="/notifications/last-week">View last week</a> <a class="govuk-link" href="/notifications/">View this week</a> </p>
    <p class="govuk-body govuk-!-font-weight-bold">You have 52 notifications to view</p>
  </div>
  <div class="govuk-grid-column-one-third">
    <ul class="hack-list-inline govuk-!-margin-top-1">
      <li><a href="#" class="govuk-link">Export</a></li>
      <li><a href="#" class="govuk-link">Print</a></li>
    </ul>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row hack-grey-out">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Monitored transactions
    </h2>
    <h3 class="govuk-heading-m ">
      All transactions you’re already following - prisoners, debit cards, bank accounts - in your prisons
    </h3>
    <p class="govuk-body">No notifications</p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Credits or disbursements
    </h2>
  </div>
</div>
    <h3 class="govuk-heading-m">Not a whole number, for example, £25.19</h3>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          29 notifications
        </span>
      </summary>
      <div class="govuk-details__text">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full" id="creditsOrDisbursements">
            {% include "./includes/not_whole_number.html" %}
          </div>
        </div>
      </div>
    </details>
    <h3 class="govuk-heading-m ">
      Credits over £120
    </h3>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
    11 notifications
    </span>
  </summary>
  <div class="govuk-details__text">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% include "./includes/credits_over_120.html" %}
      </div>
    </div>
  </div>
</details>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">
      Disbursements over £120
    </h3>
  </div>
</div>
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      2 notifications
    </span>
  </summary>
  <div class="govuk-details__text">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% include "./includes/disbursements_over_120.html" %}
      </div>
    </div>
  </div>
</details>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-3 govuk-!-margin-top-4">
      Number of credits/disbursements sent
    </h2>
  </div>
</div>
<h3 class="govuk-heading-m ">4 or more credits sent by a single debit card in last 4 weeks</h3>
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      11 notifications
    </span>
  </summary>
  <div class="govuk-details__text">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% include "./includes/4OrMoreCreditsSentByASingleDebitCardInLast4Weeks.html" %}
      </div>
    </div>
  </div>
</details>
<h3 class="govuk-heading-m ">4 or more disbursements sent to a single bank account in last 4 weeks</h3>
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      1 notification
    </span>
  </summary>
  <div class="govuk-details__text">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% include "./includes/4OrMoreDisbursementsSentToASingleBankAccountInLast4Weeks.html" %}
      </div>
    </div>
  </div>
</details>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row hack-grey-out">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Prisoner transactions
    </h2>
    <h3 class="govuk-heading-m ">
      Credits from 4 or more debit cards or bank accounts in last 4 weeks
    </h3>
    <p class="govuk-body">No notifications</p>
    <h3 class="govuk-heading-m ">
      Disbursements to 4 or more bank accounts in last 4 weeks
    </h3>
    <p class="govuk-body">No notifications</p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row hack-grey-out">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Number of prisoners receiving/sending money
    </h2>
    <h3 class="govuk-heading-m ">
      Credits from a debit card or bank account to more than 4 prisoners in last 4 weeks
    </h3>
    <p class="govuk-body">No notifications</p>
    <h3 class="govuk-heading-m ">
      Disbursements sent to a bank account by more than 4 prisoners in last 4 weeks
    </h3>
    <p class="govuk-body">No notifications</p>
  </div>
</div>

</div>

{% endblock %}
