{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Email notifications
    </h1>

    <div class="govuk-inset-text">
      <p class="govuk-body-l">You are not monitoring anything. Before we can send you notifications you need to <a href="#">start monitoring</a> some things.</p>
    </div>


    <p class="govuk-body">On the next few screens we'll guide you through the process of setting up notifications for things you are monitoring.</p>

    <p class="govuk-body">You will be able to setup notifications for:</p>
    {# Remove 'govuk-list--bullet' class for standard list #}
    <ul class="govuk-list govuk-list--bullet">
      <li>monitored transactions</li>
      <li>amounts</li>
      <li>frequency of transactions</li>
      <li>a prisoner</li>
      <li>a debit card / bank account</li>
    </ul>

    <a class="govuk-button govuk-!-mt-r2 govuk-!-mb-r8 govuk-button--disabled" href="/notifications/setup/monitored-transactions" role="button">Setup notifications</a>

  </div>
</div>

{% endblock %}