{% extends "layout.html" %}

{% block pageTitle %}
Notifications
{% endblock %}

{%block beforeContent%}
<a href="#" class="govuk-back-link">Back</a>
{% endblock%}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-top-4 govuk-!-margin-bottom-4">
      £160.00credit from debit card ending 0211<br><span class="govuk-body-l govuk-!-font-weight-bold">to <a href="#">A2659RX JASON NICHOLLS </a> at HMP Lowdham Grange</span>
    </h1>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-top-7">
  </div>
</div>
<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> -->
    <!-- <div class="hack-notification-banner red" style="border: solid 4px #df3034; padding: 10px;">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Last week - 17/06/2018</h3>
          <p class="govuk-body govuk-!-margin-bottom-2 govuk-!-font-weight-bold" style="color: #df3034;">Prisoner is on your monitored list</p>
          <p class="govuk-body-s govuk-!-margin-bottom-0">Team members in London and HMP Brixton are also monitoring this prisoner.</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body" style="float: right;"><a href="#">Close</a></p>
        </div>
      </div>
    </div> -->
  <!-- </div>
</div> -->


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l  govuk-!-margin-bottom-2">Senders personal details</h2>
    <p class="govuk-hint  govuk-!-margin-bottom-6">Sender may have used other payment methods to send or receive money from prisoners.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body">Name on card <br> <span class="govuk-!-font-weight-bold">Karen Barnes</span></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body">Email address <br> <span class="govuk-!-font-weight-bold">Karen.Barnes@gmail.com</span></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-0">Address <br> <span class="govuk-!-font-weight-bold">6754 preston Street <br>Birmingam <br>B5 4LJ</span></p>
    <!-- <p class="govuk-body govuk-!-font-weight-bold">21 morning lane <br>London <br>N8 4LJ</p> -->
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-0">IP Address <br> <span class="govuk-!-font-weight-bold">81.134.202.29 <br>EC2V</span></p>
    <p class="govuk-body-s">This location is not accurate</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <button type="submit" class="govuk-button govuk-!-margin-bottom-2">
    Search for sender
    </button>
  </div>
</div>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Senders card details</h2>
    <p class="govuk-hint  govuk-!-margin-bottom-6">Sender’s card details are tracked on the last 4 digits, expiry date and postcode so be aware that this has limitations.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body">Card number <br> <span class="govuk-!-font-weight-bold">**** **** **** 0211</span></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body">Card expiry date <br> <span class="govuk-!-font-weight-bold">03/21</span></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-0">Post code <br> <span class="govuk-!-font-weight-bold">B5 4LJ</span></p>
    <p class="govuk-body-s">User supplied, not verified</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <button type="submit" class="govuk-button ">
    View transaction
    </button>
  </div>
</div>



</div>

{% endblock %}
