{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Check your notifications
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-4" style="padding: 10px; background-color: #dee0e2; width: 98%;">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-!-font-weight-bold">
          Prisoner
        </dt>
        <dd class="app-check-your-answers__answer govuk-!-font-weight-bold">
          <a href="#">Adam Douglas</a> (A1619FY)
        </dd>
        <dd class="app-check-your-answers__change govuk-!-font-weight-bold">
          <a href="#">View</a> <a href="#">Archive</a>
          <!-- <span class="govuk-!-font-weight-bold" style="color: red;">Monitoring card</span> -->
          <a href="#">
            <!-- View<span class="govuk-visually-hidden"> name</span> -->

          </a>
        </dd>
      </div>

      <div class="app-check-your-answers__contents" style="border-bottom: 0;">
        <dt class="app-check-your-answers__question govuk-!-font-weight-regular" style="border-bottom: 0;">
          Credit
        </dt>
        <dd class="app-check-your-answers__answer" style="border-bottom: 0;">
          £35.17
        </dd>
        <dd class="app-check-your-answers__change" style="border-bottom: 0;">
          <!-- <a href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a> -->
        </dd>
      </div>

      <div class="app-check-your-answers__contents" style="border-bottom: 0;">
        <dt class="app-check-your-answers__question govuk-!-font-weight-regular" style="border-bottom: 0;">
          From
        </dt>
        <dd class="app-check-your-answers__answer" style="border-bottom: 0;">
          Card ending 9876 <br> (Mick Myers)
        </dd>
        <dd class="app-check-your-answers__change" style="border-bottom: 0;">
          <span class="govuk-!-font-weight-bold" style="color: red;">Monitoring</span> <br>
          <a class="govuk-body-s" href="#">Stop monitoring</a>
        </dd>
      </div>


    </dl>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-4" style="padding: 10px; background-color: ##dee0e2; width: 98%;">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-!-font-weight-bold">
          Prisoner
        </dt>
        <dd class="app-check-your-answers__answer govuk-!-font-weight-bold">
          <a href="#">Adam Douglas</a> (A1619FY)
        </dd>
        <dd class="app-check-your-answers__change govuk-!-font-weight-bold">
          <a href="#">View</a> <a href="#">Archive</a>
          <!-- <span class="govuk-!-font-weight-bold" style="color: red;">Monitoring card</span> -->
          <a href="#">
            <!-- View<span class="govuk-visually-hidden"> name</span> -->

          </a>
        </dd>
      </div>

      <div class="app-check-your-answers__contents" style="border-bottom: 0;">
        <dt class="app-check-your-answers__question govuk-!-font-weight-regular" style="border-bottom: 0;">
          Credit
        </dt>
        <dd class="app-check-your-answers__answer" style="border-bottom: 0;">
          £35.17
        </dd>
        <dd class="app-check-your-answers__change" style="border-bottom: 0;">
          <!-- <a href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a> -->
        </dd>
      </div>

      <div class="app-check-your-answers__contents" style="border-bottom: 0;">
        <dt class="app-check-your-answers__question govuk-!-font-weight-regular" style="border-bottom: 0;">
          From
        </dt>
        <dd class="app-check-your-answers__answer" style="border-bottom: 0;">
          Card ending 9876 <br> (Mick Myers)
        </dd>
        <dd class="app-check-your-answers__change" style="border-bottom: 0;">
          <span class="govuk-!-font-weight-bold" style="color: red;">Monitoring</span> <br>
          <a class="govuk-body-s" href="#">Stop monitoring</a>
        </dd>
      </div>


    </dl>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-4" style="padding: 10px; background-color: #dee0e2; width: 98%;">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-!-font-weight-bold">
          Prisoner
        </dt>
        <dd class="app-check-your-answers__answer govuk-!-font-weight-bold">
          <a href="#">Adam Douglas</a> (A1619FY)
        </dd>
        <dd class="app-check-your-answers__change govuk-!-font-weight-bold">
          <a href="#">View</a> <a href="#">Archive</a>
          <!-- <span class="govuk-!-font-weight-bold" style="color: red;">Monitoring card</span> -->
          <a href="#">
            <!-- View<span class="govuk-visually-hidden"> name</span> -->

          </a>
        </dd>
      </div>

      <div class="app-check-your-answers__contents" style="border-bottom: 0;">
        <dt class="app-check-your-answers__question govuk-!-font-weight-regular" style="border-bottom: 0;">
          Credit
        </dt>
        <dd class="app-check-your-answers__answer" style="border-bottom: 0;">
          £35.17
        </dd>
        <dd class="app-check-your-answers__change" style="border-bottom: 0;">
          <!-- <a href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a> -->
        </dd>
      </div>

      <div class="app-check-your-answers__contents" style="border-bottom: 0;">
        <dt class="app-check-your-answers__question govuk-!-font-weight-regular" style="border-bottom: 0;">
          From
        </dt>
        <dd class="app-check-your-answers__answer" style="border-bottom: 0;">
          Card ending 9876 <br> (Mick Myers)
        </dd>
        <dd class="app-check-your-answers__change" style="border-bottom: 0;">
          <span class="govuk-!-font-weight-bold" style="color: red;">Monitoring</span> <br>
          <a class="govuk-body-s" href="#">Stop monitoring</a>
        </dd>
      </div>


    </dl>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-4" style="padding: 10px; background-color: #dee0e2; width: 98%;">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-!-font-weight-bold">
          Prisoner
        </dt>
        <dd class="app-check-your-answers__answer govuk-!-font-weight-bold">
          <a href="#">Adam Douglas</a> (A1619FY)
        </dd>
        <dd class="app-check-your-answers__change govuk-!-font-weight-bold">
          <a href="#">View</a> <a href="#">Archive</a>
          <!-- <span class="govuk-!-font-weight-bold" style="color: red;">Monitoring card</span> -->
          <a href="#">
            <!-- View<span class="govuk-visually-hidden"> name</span> -->

          </a>
        </dd>
      </div>

      <div class="app-check-your-answers__contents" style="border-bottom: 0;">
        <dt class="app-check-your-answers__question govuk-!-font-weight-regular" style="border-bottom: 0;">
          Credit
        </dt>
        <dd class="app-check-your-answers__answer" style="border-bottom: 0;">
          £35.17
        </dd>
        <dd class="app-check-your-answers__change" style="border-bottom: 0;">
          <!-- <a href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a> -->
        </dd>
      </div>

      <div class="app-check-your-answers__contents" style="border-bottom: 0;">
        <dt class="app-check-your-answers__question govuk-!-font-weight-regular" style="border-bottom: 0;">
          From
        </dt>
        <dd class="app-check-your-answers__answer" style="border-bottom: 0;">
          Card ending 9876 <br> (Mick Myers)
        </dd>
        <dd class="app-check-your-answers__change" style="border-bottom: 0;">
          <span class="govuk-!-font-weight-bold" style="color: red;">Monitoring</span> <br>
          <a class="govuk-body-s" href="#">Stop monitoring</a>
        </dd>
      </div>


    </dl>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-4" style="padding: 10px; background-color: #dee0e2; width: 98%;">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-!-font-weight-bold">
          Prisoner
        </dt>
        <dd class="app-check-your-answers__answer govuk-!-font-weight-bold">
          <a href="#">Adam Douglas</a> (A1619FY)
        </dd>
        <dd class="app-check-your-answers__change govuk-!-font-weight-bold">
          <a href="#">View</a> <a href="#">Archive</a>
          <!-- <span class="govuk-!-font-weight-bold" style="color: red;">Monitoring card</span> -->
          <a href="#">
            <!-- View<span class="govuk-visually-hidden"> name</span> -->

          </a>
        </dd>
      </div>

      <div class="app-check-your-answers__contents" style="border-bottom: 0;">
        <dt class="app-check-your-answers__question govuk-!-font-weight-regular" style="border-bottom: 0;">
          Credit
        </dt>
        <dd class="app-check-your-answers__answer" style="border-bottom: 0;">
          £35.17
        </dd>
        <dd class="app-check-your-answers__change" style="border-bottom: 0;">
          <!-- <a href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a> -->
        </dd>
      </div>

      <div class="app-check-your-answers__contents" style="border-bottom: 0;">
        <dt class="app-check-your-answers__question govuk-!-font-weight-regular" style="border-bottom: 0;">
          From
        </dt>
        <dd class="app-check-your-answers__answer" style="border-bottom: 0;">
          Card ending 9876 <br> (Mick Myers)
        </dd>
        <dd class="app-check-your-answers__change" style="border-bottom: 0;">
          <span class="govuk-!-font-weight-bold" style="color: red;">Monitoring</span> <br>
          <a class="govuk-body-s" href="#">Stop monitoring</a>
        </dd>
      </div>


    </dl>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-4" style="padding: 10px; background-color: #dee0e2; width: 98%;">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-!-font-weight-bold">
          Prisoner
        </dt>
        <dd class="app-check-your-answers__answer govuk-!-font-weight-bold">
          <a href="#">Adam Douglas</a> (A1619FY)
        </dd>
        <dd class="app-check-your-answers__change govuk-!-font-weight-bold">
          <a href="#">View</a> <a href="#">Archive</a>
          <!-- <span class="govuk-!-font-weight-bold" style="color: red;">Monitoring card</span> -->
          <a href="#">
            <!-- View<span class="govuk-visually-hidden"> name</span> -->

          </a>
        </dd>
      </div>

      <div class="app-check-your-answers__contents" style="border-bottom: 0;">
        <dt class="app-check-your-answers__question govuk-!-font-weight-regular" style="border-bottom: 0;">
          Credit
        </dt>
        <dd class="app-check-your-answers__answer" style="border-bottom: 0;">
          £35.17
        </dd>
        <dd class="app-check-your-answers__change" style="border-bottom: 0;">
          <!-- <a href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a> -->
        </dd>
      </div>

      <div class="app-check-your-answers__contents" style="border-bottom: 0;">
        <dt class="app-check-your-answers__question govuk-!-font-weight-regular" style="border-bottom: 0;">
          From
        </dt>
        <dd class="app-check-your-answers__answer" style="border-bottom: 0;">
          Card ending 9876 <br> (Mick Myers)
        </dd>
        <dd class="app-check-your-answers__change" style="border-bottom: 0;">
          <span class="govuk-!-font-weight-bold" style="color: red;">Monitoring</span> <br>
          <a class="govuk-body-s" href="#">Stop monitoring</a>
        </dd>
      </div>


    </dl>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-4" style="padding: 10px; width: 98%;">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-!-font-weight-bold">
          Prisoner
        </dt>
        <dd class="app-check-your-answers__answer govuk-!-font-weight-bold">
          <a href="#">Adam Douglas</a> (A1619FY)
        </dd>
        <dd class="app-check-your-answers__change govuk-!-font-weight-bold">
          <a href="#">View</a> <a href="#">Archive</a>
          <!-- <span class="govuk-!-font-weight-bold" style="color: red;">Monitoring card</span> -->
          <a href="#">
            <!-- View<span class="govuk-visually-hidden"> name</span> -->

          </a>
        </dd>
      </div>

      <div class="app-check-your-answers__contents" style="border-bottom: 0;">
        <dt class="app-check-your-answers__question govuk-!-font-weight-regular" style="border-bottom: 0;">
          Credit
        </dt>
        <dd class="app-check-your-answers__answer" style="border-bottom: 0;">
          £35.17
        </dd>
        <dd class="app-check-your-answers__change" style="border-bottom: 0;">
          <!-- <a href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a> -->
        </dd>
      </div>

      <div class="app-check-your-answers__contents" style="border-bottom: 0;">
        <dt class="app-check-your-answers__question govuk-!-font-weight-regular" style="border-bottom: 0;">
          From
        </dt>
        <dd class="app-check-your-answers__answer" style="border-bottom: 0;">
          Card ending 9876 <br> (Mick Myers)
        </dd>
        <dd class="app-check-your-answers__change" style="border-bottom: 0;">
          <span class="govuk-!-font-weight-bold" style="color: red;">Monitoring</span> <br>
          <a class="govuk-body-s" href="#">Stop monitoring</a>
        </dd>
      </div>


    </dl>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-4" style="padding: 10px; background-color: #dee0e2; width: 98%;">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-!-font-weight-bold">
          Prisoner
        </dt>
        <dd class="app-check-your-answers__answer govuk-!-font-weight-bold">
          <a href="#">Adam Douglas</a> (A1619FY)
        </dd>
        <dd class="app-check-your-answers__change govuk-!-font-weight-bold">
          <a href="#">View</a> <a href="#">Archive</a>
          <!-- <span class="govuk-!-font-weight-bold" style="color: red;">Monitoring card</span> -->
          <a href="#">
            <!-- View<span class="govuk-visually-hidden"> name</span> -->

          </a>
        </dd>
      </div>

      <div class="app-check-your-answers__contents" style="border-bottom: 0;">
        <dt class="app-check-your-answers__question govuk-!-font-weight-regular" style="border-bottom: 0;">
          Credit
        </dt>
        <dd class="app-check-your-answers__answer" style="border-bottom: 0;">
          £35.17
        </dd>
        <dd class="app-check-your-answers__change" style="border-bottom: 0;">
          <!-- <a href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a> -->
        </dd>
      </div>

      <div class="app-check-your-answers__contents" style="border-bottom: 0;">
        <dt class="app-check-your-answers__question govuk-!-font-weight-regular" style="border-bottom: 0;">
          From
        </dt>
        <dd class="app-check-your-answers__answer" style="border-bottom: 0;">
          Card ending 9876 <br> (Mick Myers)
        </dd>
        <dd class="app-check-your-answers__change" style="border-bottom: 0;">
          <span class="govuk-!-font-weight-bold" style="color: red;">Monitoring</span> <br>
          <a class="govuk-body-s" href="#">Stop monitoring</a>
        </dd>
      </div>


    </dl>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-4" style="padding: 10px; background-color: #dee0e2; width: 98%;">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-!-font-weight-bold">
          Prisoner
        </dt>
        <dd class="app-check-your-answers__answer govuk-!-font-weight-bold">
          <a href="#">Adam Douglas</a> (A1619FY)
        </dd>
        <dd class="app-check-your-answers__change govuk-!-font-weight-bold">
          <a href="#">View</a> <a href="#">Archive</a>
          <!-- <span class="govuk-!-font-weight-bold" style="color: red;">Monitoring card</span> -->
          <a href="#">
            <!-- View<span class="govuk-visually-hidden"> name</span> -->

          </a>
        </dd>
      </div>

      <div class="app-check-your-answers__contents" style="border-bottom: 0;">
        <dt class="app-check-your-answers__question govuk-!-font-weight-regular" style="border-bottom: 0;">
          Credit
        </dt>
        <dd class="app-check-your-answers__answer" style="border-bottom: 0;">
          £35.17
        </dd>
        <dd class="app-check-your-answers__change" style="border-bottom: 0;">
          <!-- <a href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a> -->
        </dd>
      </div>

      <div class="app-check-your-answers__contents" style="border-bottom: 0;">
        <dt class="app-check-your-answers__question govuk-!-font-weight-regular" style="border-bottom: 0;">
          From
        </dt>
        <dd class="app-check-your-answers__answer" style="border-bottom: 0;">
          Card ending 9876 <br> (Mick Myers)
        </dd>
        <dd class="app-check-your-answers__change" style="border-bottom: 0;">
          <span class="govuk-!-font-weight-bold" style="color: red;">Monitoring</span> <br>
          <a class="govuk-body-s" href="#">Stop monitoring</a>
        </dd>
      </div>


    </dl>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-4" style="padding: 10px; width: 98%;">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-!-font-weight-bold">
          Prisoner
        </dt>
        <dd class="app-check-your-answers__answer govuk-!-font-weight-bold">
          <a href="#">Adam Douglas</a> (A1619FY)
        </dd>
        <dd class="app-check-your-answers__change govuk-!-font-weight-bold">
          <a href="#">View</a> <a href="#">Archive</a>
          <!-- <span class="govuk-!-font-weight-bold" style="color: red;">Monitoring card</span> -->
          <a href="#">
            <!-- View<span class="govuk-visually-hidden"> name</span> -->

          </a>
        </dd>
      </div>

      <div class="app-check-your-answers__contents" style="border-bottom: 0;">
        <dt class="app-check-your-answers__question govuk-!-font-weight-regular" style="border-bottom: 0;">
          Credit
        </dt>
        <dd class="app-check-your-answers__answer" style="border-bottom: 0;">
          £35.17
        </dd>
        <dd class="app-check-your-answers__change" style="border-bottom: 0;">
          <!-- <a href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a> -->
        </dd>
      </div>

      <div class="app-check-your-answers__contents" style="border-bottom: 0;">
        <dt class="app-check-your-answers__question govuk-!-font-weight-regular" style="border-bottom: 0;">
          From
        </dt>
        <dd class="app-check-your-answers__answer" style="border-bottom: 0;">
          Card ending 9876 <br> (Mick Myers)
        </dd>
        <dd class="app-check-your-answers__change" style="border-bottom: 0;">
          <span class="govuk-!-font-weight-bold" style="color: red;">Monitoring</span> <br>
          <a class="govuk-body-s" href="#">Stop monitoring</a>
        </dd>
      </div>


    </dl>
  </div>
</div>


</div>

{% endblock %}
