{% extends "layout.html" %}

{% block pageTitle %}
Notifications
{% endblock %}

{%block beforeContent%}
{% include "includes/pilot-banner.html" %}
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">
      Notifications
    </h1>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0 govuk-!-margin-top-7">
    <ul class="govuk-list hack-list-inline">
      <li><a href="#">Export</a></li>
      <li style="padding-right: 10px;"><a href="#">Print</a></li>
    </ul>
    <!-- <p class="govuk-body" style="float: right;"><a class="govuk-link" href="/notifications/">Edit notification settings</a></p> -->
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<!-- <h2 class="govuk-heading-m">Credits and disbursements</h2> -->

<div class="govuk-grid-row">
  <!-- <div class="govuk-grid-column-one-third hack-col-10 ">
    <p class="govuk-body govuk-!-margin-bottom-2  govuk-!-font-weight-bold">#123</p>
  </div> -->
  <div class="govuk-grid-column-two-thirds">
<p class="govuk-body govuk-!-margin-bottom-2 govuk-!-font-weight-bold">17/06/2018</p>
    <p class="govuk-body govuk-!-margin-bottom-2">
      <span class="govuk-!-font-weight-bold">£35.00 credit <br>
      From card **** 9876 ("Mick Myers") to A1619FY Adam Douglas</span> <br>
    </p>

    <div class="govuk-inset-text hack-inset-red  govuk-!-font-weight-bold" >
      Card is on monitored list. <br> <a href="#">View monitorewd list</a>
    </div>
  </div>
  <div class="govuk-grid-column-one-thirds">
    <p class="govuk-body  govuk-!-font-weight-bold" style="float:right; margin-right: 15px;"><a href="/notifications/notifications-detail">View transaction</a></p>
  </div>
</div>
<!-- <hr class="govuk-section-break govuk-section-break--s"> -->
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row">
  <!-- <div class="govuk-grid-column-one-third hack-col-10">
    <p class="govuk-body govuk-!-margin-bottom-2">#122</p>
  </div> -->
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-margin-bottom-2">17/06/2018</p>
    <p class="govuk-body govuk-!-margin-bottom-2">
      <span class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">£500.00 credit <br></span>
      From card **** 9876 ("Jimmy Cramer") to A1691FY John Watson <br>
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body" style="float:right;"><a href="#">View transaction</a></p>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row">
  <!-- <div class="govuk-grid-column-one-third hack-col-10">
    <p class="govuk-body govuk-!-margin-bottom-2">#121</p>
  </div> -->
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-margin-bottom-2">17/06/2018</p>
    <p class="govuk-body govuk-!-margin-bottom-2">
      <span class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">£50.00 credit <br></span>
      From account 67584534 ("George Lee") to A6191FY Ethan Clark <br>
    </p>
    <div class="govuk-inset-text hack-inset-red">
      More than 10 credits within 4 weeks to different prisoners
    </div>
    <p class="govuk-body-s govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Related transactions</span></p>
    <p class="govuk-body-s govuk-!-margin-bottom-1">17/06/2018 £49.00 credit to A8877AT Simon Smith <a href="#">view</a></p>
    <p class="govuk-body-s govuk-!-margin-bottom-1">17/06/2018 £49.00 credit to A8877AT Simon Smith <a href="#">view</a></p>
    <p class="govuk-body-s govuk-!-margin-bottom-1"><a href="#">+8 more</a></p>
  </div>
  <div class="govuk-grid-column-one-third ">
    <p class="govuk-body" style="float:right;"><a href="#">View transaction</a></p>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row">
  <!-- <div class="govuk-grid-column-one-third hack-col-10">
    <p class="govuk-body govuk-!-margin-bottom-2">#120</p>
  </div> -->
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-margin-bottom-2">11/06/2018</p>
    <p class="govuk-body govuk-!-margin-bottom-2">
      <span class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">£50.05 credit <br></span>
      From account 564932876 ("Ann Bodin") to ZA1233DS Igor Samms <br>
    </p>
    <div class="govuk-inset-text hack-inset-red">
      Amount is not a whole number
    </div>
  </div>
  <div class="govuk-grid-column-one-third ">
    <p class="govuk-body" style="float:right;"><a href="#">View transaction</a></p>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row govuk-!-font-weight-bold">
  <!-- <div class="govuk-grid-column-one-third hack-col-10">
    <p class="govuk-body govuk-!-margin-bottom-2">#119</p>
  </div> -->
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-margin-bottom-2">09/06/2018</p>
    <p class="govuk-body govuk-!-margin-bottom-2">
      <span class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">£1500.00 credit <br></span>
      From account 98076534 ("A. Smith") to RT5467G Peter Borg <br>
    </p>
    <div class="govuk-inset-text hack-inset-red">
      Amount is higher than £200
    </div>
  </div>
  <div class="govuk-grid-column-one-third ">
    <p class="govuk-body" style="float:right;"><a href="#">View transaction</a></p>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row">
  <!-- <div class="govuk-grid-column-one-third hack-col-10">
    <p class="govuk-body govuk-!-margin-bottom-2">#119</p>
  </div> -->
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-margin-bottom-2">09/06/2018</p>
    <p class="govuk-body govuk-!-margin-bottom-2">
      <span class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">£1500.00 credit <br></span>
      From account 98076534 ("A. Smith") to RT5467G Peter Borg <br>
    </p>
    <div class="govuk-inset-text hack-inset-red">
      Amount is higher than £200
    </div>
  </div>
  <div class="govuk-grid-column-one-third ">
    <p class="govuk-body" style="float:right;"><a href="#">View transaction</a></p>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="bold">
<div class="govuk-grid-row">
  <!-- <div class="govuk-grid-column-one-third hack-col-10">
    <p class="govuk-body govuk-!-margin-bottom-2">#118</p>
  </div> -->
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-margin-bottom-2">05/06/2018</p>
    <p class="govuk-body govuk-!-margin-bottom-2">
      <span class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">£1500.00 credit <br></span>
      From account 98452398 ("Joa Egli") to A5796ZB Stuart Douglas <br>
    </p>
    <div class="govuk-inset-text hack-inset-red" >
      Account is on monitored list. <br> <a href="#">View monitorewd list</a>
    </div>
  </div>
  <div class="govuk-grid-column-one-third ">
    <p class="govuk-body" style="float:right;"><a href="#">View transaction</a></p>
  </div>
</div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

</div>

{% endblock %}
