{% extends "layout.html" %}

{% block pageTitle %}
Notifications
{% endblock %}

{%block beforeContent%}
{% include "includes/pilot-banner.html" %}
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Notifications
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-visually-hidden">Notifications</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-body-s govuk-table__header govuk-table__header" scope="col">Date recieved</th>
          <th class="govuk-body-s govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>
          <th class="govuk-body-s govuk-table__header govuk-table__header" scope="col">Prisoner name</th>
          <th class="govuk-body-s govuk-table__header govuk-table__header" scope="col">Sender</th>
          <th class="govuk-body-s govuk-table__header govuk-table__header--numeric" scope="col">Senders card or account</th>
          <th class="govuk-body-s govuk-table__header govuk-table__header" scope="col">Type</th>
          <th class="govuk-body-s govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body hack-table-row-vertical-align-top">
        <tr class="govuk-table__row">
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell">17/06/2018</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell--numeric">£35.00</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell"><a href="#">Adam Douglas</a> <br>A6191FY</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell">Mick Myers</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell--numeric">Card ending: 9766</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell">Credit</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td colspan="7" class=" govuk-body-s govuk-table__cell govuk-table__cell">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-0"><span class="hack-inset-red">Card is on monitored list <a href="#">view</a></span></p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-body-s govuk-table__cell govuk-table__cell">17/06/2018</td>
          <td class="govuk-body-s govuk-table__cell govuk-table__cell--numeric">£500.00</td>
          <td class="govuk-body-s govuk-table__cell govuk-table__cell"><a href="#">John Watson</a> <br>A6191FY</td>
          <td class="govuk-body-s govuk-table__cell govuk-table__cell">Jimmy Cramer</td>
          <td class="govuk-body-s govuk-table__cell govuk-table__cell--numeric">Card ending: 9766</td>
          <td class="govuk-body-s govuk-table__cell govuk-table__cell">Credit</td>
          <td class="govuk-body-s govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell">17/06/2018</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell"><a href="#">Ethan Clark</a> <br>A6191FY</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell">George Lee</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell--numeric">Account no: 67584534</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell">Credit</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td colspan="7" class=" govuk-body-s govuk-table__cell govuk-table__cell">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-0"><span class="hack-inset-red">More than 10 credits within 4 weeks to different prisoners <a href="#">view transactions</a></span></p>
            <!-- <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-14 govuk-!-margin-top-2 govuk-!-margin-bottom-1">Related transactions</p>
            <p class="govuk-body govuk-!-font-size-14 govuk-!-margin-top-0 govuk-!-margin-bottom-1">£49.00 credit to Simon Smith <a href="#">A8877AT</a> on 17/06/2018</p>
            <p class="govuk-body govuk-!-font-size-14 govuk-!-margin-top-0 govuk-!-margin-bottom-1">£49.00 credit to Simon Smith <a href="#">A8877AT</a> on 17/06/2018</p>
            <p class="govuk-body govuk-!-font-size-14 govuk-!-margin-top-0 govuk-!-margin-bottom-1">£49.00 credit to Simon Smith <a href="#">A8877AT</a> on 17/06/2018</p>
            <p class="govuk-body govuk-!-font-size-14 govuk-!-margin-top-0 govuk-!-margin-bottom-1">£49.00 credit to Simon Smith <a href="#">A8877AT</a> on 17/06/2018</p> -->
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell">11/06/2018</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell--numeric">£50.05</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell"><a href="#">Igor Samms</a> <br>ZA1233DS</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell">Ann Bodin</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell--numeric">Account no: 564932876</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell">Credit</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td colspan="7" class=" govuk-body-s govuk-table__cell govuk-table__cell">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-0"><span class="hack-inset-red">Amount is not a whole number</span></p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell">09/06/2018</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell--numeric">£1500.00</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell"><a href="#">Peter Borg</a> <br>RT5467G</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell">A. Smith</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell--numeric">Account no: 98076534</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell">Credit</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td colspan="7" class=" govuk-body-s govuk-table__cell govuk-table__cell">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-0"><span class="hack-inset-red">Amount is higher than £200</span></p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell">05/06/2018</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell--numeric">£1500.00</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell"><a href="#">Stuart Douglas</a> <br>A5796ZB</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell">Joa Egli</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell--numeric">Account no: 98452398</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell">Credit</td>
          <td class="hack-border-bottom govuk-body-s govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td colspan="7" class=" govuk-body-s govuk-table__cell govuk-table__cell">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-0"><span class="hack-inset-red">Account is on monitored list <a href="#">view</a></span></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


</div>

{% endblock %}
