{% extends "layout.html" %}

{% block pageTitle %}
Advanced search
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      Advanced search
    </h1>
    <p class="govuk-body-l">You can search all data from the padst 7 years, using a combination of any of the search fields avalible.</p>
    <p class="govuk-body">Partial or incomplete search terms will return more results.</p>
  </div>

  <div class="govuk-grid-column-full">
  <!-- Sections -->
  <!-- {{ govukCheckboxes({
    idPrefix: "waste",
    name: "waste",
    classes: "govuk-checkboxes--inline",
    fieldset: {
    },
    items: [
      {
        value: "Prisoners",
        text: "Prisoners"
      },
      {
        value: "Payment sources",
        text: "Payment sources"
      },
      {
        value: "Credits",
        text: "Credits"
      },
      {
        value: "Disbursements",
        text: "Disbursements"
      }
    ]
  }) }} -->
  <h2 class="govuk-heading-l govuk-!-margin-top-9">People or organisations</h2>
  <p class="govuk-body">Prisoners, senders or recipients</p>
  <!-- Name -->
  {{ govukInput({
    label: {
      text: "Name",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-20",
    id: "width-20",
    name: "width-20"
  }) }}
  <!-- Email address -->
  {{ govukInput({
    label: {
      text: "Email address",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-20",
    id: "width-20",
    name: "width-20"
  }) }}
  <!-- IP Addess -->
  {{ govukInput({
    label: {
      text: "IP Addess",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-10",
    id: "width-20",
    name: "width-20"
  }) }}
  <!-- Postcode -->
  {{ govukInput({
    label: {
      text: "Postcode",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-10",
    id: "width-20",
    name: "width-20"
  }) }}
  <!-- Prisoner number -->
  {{ govukInput({
    label: {
      text: "Prisoner number",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-10",
    id: "width-20",
    name: "width-20"
  }) }}
  <!-- Prisoners no longer in custody -->
  {{ govukCheckboxes({
    idPrefix: "waste",
    name: "waste",
    fieldset: {
    },
    items: [
      {
        value: "carcasses",
        text: "Show prisoners who are no longer in custody"
      }
    ]
  }) }}
  <!-- Prison region -->
  <!-- <h2 class="govuk-heading-l">Prison</h2> -->
  <!-- Prison name -->
  <!-- {{ govukInput({
    label: {
      text: "Prison name",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-20",
    id: "width-20",
    name: "width-20"
  }) }} -->
  <!-- Prison type -->
  <!-- {{ govukCheckboxes({
    idPrefix: "waste",
    name: "waste",
    fieldset: {
      legend: {
        text: "Prison type",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "carcasses",
        text: "Adult"
      },
      {
        value: "mines",
        text: "Female"
      },
      {
        value: "farm",
        text: "Male"
      },
      {
        value: "farm",
        text: "Young offender"
      }
    ]
  }) }} -->
  <!-- Prison region -->
  <!-- {{ govukCheckboxes({
    idPrefix: "waste",
    name: "waste",
    fieldset: {
      legend: {
        text: "Prison region",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "carcasses",
        text: "East Midlands"
      },
      {
        value: "mines",
        text: "East of England"
      },
      {
        value: "farm",
        text: "Kent and Sussex"
      },
      {
        value: "farm",
        text: "London"
      },
      {
        value: "farm",
        text: "North East"
      },
      {
        value: "farm",
        text: "North West"
      },
      {
        value: "farm",
        text: "South Central"
      },
      {
        value: "farm",
        text: "South West"
      },
      {
        value: "farm",
        text: "Wales"
      }
    ]
  }) }} -->
  <!-- Prison category -->
  <!-- {{ govukCheckboxes({
    idPrefix: "waste",
    name: "waste",
    fieldset: {
      legend: {
        text: "Prison category",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "carcasses",
        text: "Category A"
      },
      {
        value: "mines",
        text: "Category B"
      },
      {
        value: "farm",
        text: "Category C"
      },
      {
        value: "farm",
        text: "Category D"
      },
      {
        value: "farm",
        text: "Immigration Removal Centre"
      },
      {
        value: "farm",
        text: "Young Offender Institution"
      }
    ]
  }) }} -->
  <h2 class="govuk-heading-l govuk-!-margin-top-9">Payment sources</h2>
  <p class="govuk-body">Money can be sent in or out using a bank account but money can only be sent in using a debit card.</p>
  <!-- Sender name -->
  <!-- {{ govukInput({
    label: {
      text: "Sender name",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-20",
    id: "width-20",
    name: "width-20"
  }) }} -->
  <!-- Bank account number -->
  {{ govukInput({
    label: {
      text: "Bank account number",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-10",
    id: "width-20",
    name: "width-20"
  }) }}
  <!-- Sort code -->
  {{ govukInput({
    label: {
      text: "Sort code",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-10",
    id: "width-20",
    name: "width-20"
  }) }}
  <!-- Last 4 digits of card number -->
  {{ govukInput({
    label: {
      text: "Last 4 digits of card number",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    hint: {
    text: "Only for money sent in to prisoners"
    },
    classes: "govuk-input--width-10",
    id: "width-20",
    name: "width-20"
  }) }}
  <!-- Payment method -->
  <!-- {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "where-do-you-live",
    name: "where-do-you-live",
    fieldset: {
      legend: {
        text: "Payment method",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "england",
        text: "Any method"
      },
      {
        value: "scotland",
        text: "Bank transfer"
      },
      {
        value: "wales",
        text: "Debit card"
      }
    ]
  }) }} -->
  <!-- Date -->
  <h2 class="govuk-heading-l govuk-!-margin-top-9">Date</h2>
  <p class="govuk-body">We can only keep transaction data up to 7 years.</p>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
    {{ govukDateInput({
      id: "passport-issued",
      namePrefix: "passport-issued",
      fieldset: {
        legend: {
          text: "From",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 01 08 2007"
      }
    }) }}
    </div>
    <div class="govuk-grid-column-one-third">
    {{ govukDateInput({
      id: "passport-issued",
      namePrefix: "passport-issued",
      fieldset: {
        legend: {
          text: "To",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 01 08 2007"
      }
    }) }}
    </div>
  </div>

  <!-- Recipient Name -->
  <!-- {{ govukInput({
    label: {
      text: "Recipient Name",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-20",
    id: "width-20",
    name: "width-20"
  }) }} -->
  <!-- Amount -->
  <h2 class="govuk-heading-l govuk-!-margin-top-9">Amounts</h2>
  {% set exactAmountHtml %}
  {{ govukInput({
    id: "contact-by-email",
    name: "contact-by-email",
    type: "email",
    classes: "govuk-!-width-one-third",
    label: {
      text: "Exact amount"
    },
    attributes: {
      spellcheck: "false"
    }
  }) }}
  {% endset -%}
  {% set exactNumberOfPenceHtml %}
  {{ govukInput({
    id: "contact-by-email",
    name: "contact-by-email",
    type: "email",
    classes: "govuk-!-width-one-third",
    label: {
      text: "Exact number of pence"
    },
    attributes: {
      spellcheck: "false"
    }
  }) }}
  {% endset -%}
  {{ govukRadios({
    classes: "govuk-radios",
    idPrefix: "where-do-you-live",
    name: "where-do-you-live",
    fieldset: {
      legend: {
        text: "Amounts",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l govuk-visually-hidden"
      }
    },
    items: [
      {
        value: "england",
        text: "Not a whole number"
      },
      {
        value: "scotland",
        text: "Not a multiple of £5"
      },
      {
        value: "wales",
        text: "Not a multiple of £10"
      },
      {
        value: "england",
        text: "£100 or more"
      },
      {
        value: "scotland",
        text: "Exact amount",
        conditional: {
          html: exactAmountHtml
        }
      },
      {
        value: "wales",
        text: "Exact number of pence",
        conditional: {
          html: exactNumberOfPenceHtml
        }
      }
    ]
  }) }}

  <!-- Search button -->
  {{ govukButton({
    text: "Search"
  }) }}

  </div>
</div>

{% endblock %}
