{% extends "layout.html" %}

{% block pageTitle %}
Advanced search
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      Advanced search
    </h1>
    <p class="govuk-body-l">Search all data avalible</p>
  </div>

  <div class="govuk-grid-column-full">

  {{ govukCheckboxes({
    idPrefix: "waste",
    name: "waste",
    classes: "govuk-checkboxes--inline",
    fieldset: {
    },
    items: [
      {
        value: "Prisoners",
        text: "Prisoners"
      },
      {
        value: "Payment sources",
        text: "Payment sources"
      },
      {
        value: "Credits",
        text: "Credits"
      },
      {
        value: "Disbursements",
        text: "Disbursements"
      }
    ]
  }) }}

  {{ govukInput({
    label: {
      text: "Prisoner number",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-20",
    id: "width-20",
    name: "width-20"
  }) }}

  {{ govukInput({
    label: {
      text: "Prison name",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-20",
    id: "width-20",
    name: "width-20"
  }) }}

  {{ govukInput({
    label: {
      text: "Sender name",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-20",
    id: "width-20",
    name: "width-20"
  }) }}

  {{ govukInput({
    label: {
      text: "Prisoner name",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-20",
    id: "width-20",
    name: "width-20"
  }) }}

  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "where-do-you-live",
    name: "where-do-you-live",
    fieldset: {
      legend: {
        text: "Payment method",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "england",
        text: "Any method"
      },
      {
        value: "scotland",
        text: "Bank transfer"
      },
      {
        value: "wales",
        text: "Debit card"
      }
    ]
  }) }}

  {{ govukInput({
    label: {
      text: "Sender account number",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-20",
    id: "width-20",
    name: "width-20"
  }) }}

  {{ govukInput({
    label: {
      text: "Sender email address",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-20",
    id: "width-20",
    name: "width-20"
  }) }}

  {{ govukInput({
    label: {
      text: "Sender postcode",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-10",
    id: "width-20",
    name: "width-20"
  }) }}

  <h3 class="govuk-heading-m">Date</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
    {{ govukDateInput({
      id: "passport-issued",
      namePrefix: "passport-issued",
      fieldset: {
        legend: {
          text: "From",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 01 08 2007"
      }
    }) }}
    </div>
    <div class="govuk-grid-column-one-third">
    {{ govukDateInput({
      id: "passport-issued",
      namePrefix: "passport-issued",
      fieldset: {
        legend: {
          text: "To",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 01 08 2007"
      }
    }) }}
    </div>
  </div>

  {{ govukInput({
    label: {
      text: "Sort code",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-10",
    id: "width-20",
    name: "width-20"
  }) }}

  {{ govukInput({
    label: {
      text: "Recipient Name",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-20",
    id: "width-20",
    name: "width-20"
  }) }}

  {{ govukCheckboxes({
    idPrefix: "waste",
    name: "waste",
    fieldset: {
      legend: {
        text: "Prison type",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "carcasses",
        text: "Adult"
      },
      {
        value: "mines",
        text: "Female"
      },
      {
        value: "farm",
        text: "Male"
      },
      {
        value: "farm",
        text: "Young offender"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    idPrefix: "waste",
    name: "waste",
    fieldset: {
      legend: {
        text: "Prison region",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "carcasses",
        text: "East Midlands"
      },
      {
        value: "mines",
        text: "East of England"
      },
      {
        value: "farm",
        text: "Kent and Sussex"
      },
      {
        value: "farm",
        text: "London"
      },
      {
        value: "farm",
        text: "North East"
      },
      {
        value: "farm",
        text: "North West"
      },
      {
        value: "farm",
        text: "South Central"
      },
      {
        value: "farm",
        text: "South West"
      },
      {
        value: "farm",
        text: "Wales"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    idPrefix: "waste",
    name: "waste",
    fieldset: {
      legend: {
        text: "Prison category",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "carcasses",
        text: "Category A"
      },
      {
        value: "mines",
        text: "Category B"
      },
      {
        value: "farm",
        text: "Category C"
      },
      {
        value: "farm",
        text: "Category D"
      },
      {
        value: "farm",
        text: "Immigration Removal Centre"
      },
      {
        value: "farm",
        text: "Young Offender Institution"
      }
    ]
  }) }}

  {{ govukInput({
    label: {
      text: "Sender Last 4 digits of card number",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-10",
    id: "width-20",
    name: "width-20"
  }) }}

  {% set exactAmountHtml %}
  {{ govukInput({
    id: "contact-by-email",
    name: "contact-by-email",
    type: "email",
    classes: "govuk-!-width-one-third",
    label: {
      text: "Exact amount"
    },
    attributes: {
      spellcheck: "false"
    }
  }) }}
  {% endset -%}

  {% set exactNumberOfPenceHtml %}
  {{ govukInput({
    id: "contact-by-email",
    name: "contact-by-email",
    type: "email",
    classes: "govuk-!-width-one-third",
    label: {
      text: "Exact number of pence"
    },
    attributes: {
      spellcheck: "false"
    }
  }) }}
  {% endset -%}

  {{ govukRadios({
    classes: "govuk-radios",
    idPrefix: "where-do-you-live",
    name: "where-do-you-live",
    fieldset: {
      legend: {
        text: "Amount",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "england",
        text: "Not a whole number"
      },
      {
        value: "scotland",
        text: "Not a multiple of £5"
      },
      {
        value: "wales",
        text: "Not a multiple of £10"
      },
      {
        value: "england",
        text: "£100 or more"
      },
      {
        value: "scotland",
        text: "Exact amount",
        conditional: {
          html: exactAmountHtml
        }
      },
      {
        value: "wales",
        text: "Exact number of pence",
        conditional: {
          html: exactNumberOfPenceHtml
        }
      }
    ]
  }) }}

  {{ govukInput({
    label: {
      text: "Sender IP Addess",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-10",
    id: "width-20",
    name: "width-20"
  }) }}

  {{ govukButton({
    text: "Search"
  }) }}

  </div>
</div>

{% endblock %}
