.app-service-navigation {
  @include govuk-clearfix;
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: govuk-spacing(2);
  padding: govuk-spacing(2) 0;
}

.app-service-navigation__name {
  @include govuk-font($size: 19, $weight: bold);
  margin: 0;
  float: left;
}

.app-service-navigation__switch {
  float: right;
  margin-top: 5px;
}
