{% extends "layout.html" %}

{% block pageTitle %}
Settings - Prisoner money intelligence
{% endblock %}

{%block beforeContent%}
<!-- {% include "includes/pilot-banner.html" %} -->
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Lucy Edwards</span>
    <h1 class="govuk-heading-xl">Settings</h1>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <div id="notifications">
      <div id="notificationsOn">
        <h2 class="govuk-heading-l">Email notifications on</h2>
        <p class="govuk-body">You are currently receiving email notifications every Monday.</p>
        <button id="button" class="govuk-button button-elem">
          Turn off email notifications
        </button>
      </div>
      <div id="notificationsOff">
        <h2 class="govuk-heading-l">Email notifications off</h2>
        <p class="govuk-body">You are not currently receiving email notifications.</p>
        <button id="button" class="govuk-button button-elem">
          Turn on email notifications
        </button>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Prisons</h2>
    <p class="govuk-body">You'll see data for:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>HMP/YOI Downview</li>
      <li>HMP/YOI High Down</li>
    </ul>
    <form class="form" method="post">
      <button type="submit" class="govuk-button">
        Edit prisons
      </button>
    </form>

  </div>
</div>

{% endblock %}
