{% extends "layout.html" %}

{% set nav = 'settings' %}

{% block pageTitle %}
Settings - Prisoner money intelligence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  </div>

  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">{{ data['userName'] }}</span>
    <h1 class="govuk-heading-xl">Settings</h1>
    <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->


    <div id="notifications">
      <div id="notificationsOn">
        <h2 class="govuk-heading-l">Email notifications – ON</h2>
        <p class="govuk-body">You are currently receiving email notifications for payment sources and prisoners you are monitoring.</p>
        <button id="button" class="govuk-button button-elem">
          Turn off email notifications
        </button>
      </div>
      <div id="notificationsOff">
        <h2 class="govuk-heading-l">Email notifications – OFF</h2>
        <p class="govuk-body">You are not currently receiving email notifications for payment sources and prisoners you are monitoring.</p>
        <button id="button" class="govuk-button button-elem">
          Turn on email notifications
        </button>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="managePrisons">Your prisons</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ data['prisonName'] }}</li>
    </ul>
    <form class="form" method="post">
      <input type="hidden" name="changePrisons" value="changePrisons">
      <button type="submit" class="govuk-button">
        Edit prisons
      </button>
    </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="changePassword">Change password</h2>

    <form class="form" method="post">
      <input type="hidden" name="changePassword" value="changePassword">
      <button type="submit" class="govuk-button" formaction="/settings/change-password">
        Change your password
      </button>
    </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="manageUsers">Manage users</h2>
    <p class="govuk-body">Add, view, edit or disable user accounts. When you disable a user account, that user will be unable to log in.</p>


    <form class="form" method="post">
      <a type="submit" class="govuk-button" href="manage_accounts">
        Manage users
      </a>
    </form>

  </div>
  <div class="govuk-grid-column-one-third">

    <!-- <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Navigation
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="#notifications">
                  Email notifications
                </a>
              </li>
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="#managePrisons">
                  Manage prisons
                </a>
              </li>
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="#changePassword">
                  Change password
                </a>
              </li>
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="#manageUsers">
                  Manage users
                </a>
              </li>
            </ul>
          </nav>
        </aside> -->
  </div>
</div>

{% endblock %}
