{% extends "layout.html" %}

{% block pageTitle %}
Disbursements
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      Disbursements
    </h1>
  </div>
  <div class="govuk-grid-column-full">
    <!-- <h2 class="govuk-heading-m">Search</h2> -->
    <form class="form" method="post">
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
          Recipient name or prisoner number
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="disbursementSearch" name="disbursementSearch" type="text">
        <button type="submit" class="govuk-button">
          Search
        </button>
        <p><a href="/advanced-search/" class="govuk-link">Advanced search</a></p>
      </div>
    </form>

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <table class="govuk-table govuk-!-font-size-14 ">
      <!-- <caption class="govuk-table__caption">Credits for your prisons sorted by date</caption> -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row hack-table-row-vertical-align-top">
          <th class="govuk-table__header" scope="col">Date entered</th>
          <th class="govuk-table__header" scope="col">Prisoner (from)</th>
          <th class="govuk-table__header" scope="col">Recipient (to)</th>
          <th class="govuk-table__header" scope="col">Prison</th>
          <th class="govuk-table__header" scope="col">Status</th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body ">
        {%- for disbursement in disbursements -%}
        <tr class="govuk-table__row hack-table-row-vertical-align-top">
          <td class="govuk-table__cell">{{ disbursement.created }}</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link--no-visited-state">{{ disbursement.prisoner_name }}</a> <br> by {{ disbursement.prisoner_number }} </td>
          <td class="govuk-table__cell">{{ disbursement.recipient_first_name }} {{ disbursement.recipient_last_name }}</td>
          <td class="govuk-table__cell">{{ disbursement.prison_name }}</td>
          <td class="govuk-table__cell">{{ disbursement.resolution }}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">{{ disbursement.amount }}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View details</a></td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>

        </div>









</div>

{% endblock %}
