{% extends "layout.html" %}

{% set nav = 'disbursements' %}

{% block pageTitle %}
Disbursements
{% endblock %}

{% block content %}

{% include "includes/feedback-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Disbursements
        </h1>
        <!-- <h2 class="govuk-heading-m">Search</h2> -->
        <form class="form" method="post">
          {{ govukInput({
            label: {
              classes: "govuk-body govuk-!-font-size-27 govuk-!-width-full",
              text: "Search recipient name or prisoner number"
            },
            hint: {
              text: "Common or incomplete names may show many results",
              classes: "govuk-!-width-full"
            },
            classes: "govuk-!-width-full",
            id: "disbursementSearch",
            name: "disbursementSearch"
          }) }}
          {{ govukButton({
            text: "Search disbursements"
          }) }}
        </form>
        <p  class="govuk-body govuk-!-margin-bottom-8"><a href="/disbursements/advanced-search" class="govuk-link govuk-link--no-visited-state">Advanced search</a></p>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    <table class="govuk-table govuk-!-font-size-16 ">
      <!-- <caption class="govuk-table__caption">Credits for your prisons sorted by date</caption> -->
      {% include "disbursements/includes/_table_header.html" %}
      <tbody class="govuk-table__body ">
        {%- for disbursement in disbursements -%}
        {% include "disbursements/includes/_table_row.html" %}
        {%- endfor -%}
      </tbody>
    </table>
    {%- if disbursements.length > 25 -%}
    {% include "includes/pagination.html" %}
    {%- endif -%}
  </div>
</div>

{% endblock %}
