{% extends "layout.html" %}

{% set nav = 'prisoners' %}

{% block pageTitle %}
Prisoners
{% endblock %}

<!-- THIS HAS BEEN HACKED TOGETHER FOR USER RESEARCH THIS PAGE SHOULD BE REDESIGNED  -->

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <img src="{{ asset_path }}/images/prisoner.png" alt="image" width="200px">
  </div>
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      JORDAN MAY
    </h1>
    <h2 class="govuk-heading-m">X2518SN</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-m">Credits received</span>
        <h3 class="govuk-heading-m">3</h3>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-m">Payment sources</span>
        <h3 class="govuk-heading-m">3</h3>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-m">Total received <br><br></span>
        <h3 class="govuk-heading-m">£110.03</h3>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-m">Disbursements sent</span>
        <h3 class="govuk-heading-m">0</h3>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-m">Names given by senders</span>
        <h3 class="govuk-heading-m">JORDAN MAY, JORDAN</h3>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <span class="govuk-caption-m">Prison</span>
        <h3 class="govuk-heading-m">HMP Croydon</h3>
      </div>
      <div class="govuk-grid-column-one-half">
        <span class="govuk-caption-m">Location</span>
        <h3 class="govuk-heading-m">A-A2-103</h3>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-half govuk-!-margin-top-6">
    {{ govukButton({
      text: " Monitor this prisoner on your home page"
    }) }}
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-l">Credits received</h2>
  </div>
  <div class="govuk-grid-column-one-half">
        {{ govukButton({
      text: "View disbursements",
      classes: "govuk-button--secondary right",
      href: "OWEN%20BRADLEY_disbursments",
      disabled: true
    }) }}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukInsetText({
      text: "All credits received by this prisoner are shown below ordered by received date (newest to oldest). You can’t see credits received by post."
    }) }}
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-top-9 ">
  <p class="govuk-body right"><a href="#" class="govuk-link govuk-link--no-visited-state">Print</a> <a href="#" class="govuk-link govuk-link--no-visited-state">Export</a></p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table govuk-!-font-size-16 ">
      <!-- <caption class="govuk-table__caption">Credits for your prisons sorted by date</caption> -->
      {% include "prisoners/includes/_table_header_credits_prisoner.html" %}
      <tbody class="govuk-table__body ">

        <!-- The line above stops disbursements appearing in the credits view -->
        {% include "prisoners/includes/_table_row_credits_prisoner_JORDAN_MAY.html" %}


      </tbody>
    </table>
  </div>
</div>




{% endblock %}
