<thead class="govuk-table__head">
  <tr class="govuk-table__row hack-table-row-vertical-align-top">
    <th class="govuk-table__header" scope="col">Date recieved</th>
    <th class="govuk-table__header" scope="col">Sender (from)</th>
    <th class="govuk-table__header" scope="col">Prisoner (to)</th>
    <!-- <th class="govuk-table__header" scope="col">Prison</th> -->
    <!-- <th class="govuk-table__header" scope="col">Status</th> -->
    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>
    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
  </tr>
</thead>
