<tr class="govuk-table__row">
  <td class="govuk-table__cell">SenderName@email.com</td>
  <td class="govuk-table__cell">Debit card</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">XX</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">XX</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">X</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">£XXX.XX</td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><a href="single-source">View details</a></td>
</tr>
