<thead class="govuk-table__head">
  <tr class="govuk-table__row hack-table-row-vertical-align-top">
    <th class="govuk-table__header" scope="col">Payment source</th>
    <th class="govuk-table__header" scope="col">Payment method</th>
    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Number of credits sent</th>
    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Prisoners sent to</th>
    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Prisons sent to</th>
    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Total amount sent</th>
    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
  </tr>
</thead>
