<tr class="govuk-table__row hack-table-row-vertical-align-top">
  <!-- <td class="govuk-table__cell"><a href="#" class="govuk-link--no-visited-state">{{ prisoner.prisoner_name }}</a><br>{{ prisoner.prisoner_number }}</td> -->
  <td class="govuk-table__cell highlightable">08/07/2019</td>
  <td class="govuk-table__cell govuk-table__cell">MARTIN JACKSON<br>X3891VA</td>
  <td class="govuk-table__cell govuk-table__cell">Melissa James <br> by Debit card</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">£1,500.00</td>
  <td class="govuk-table__cell govuk-table__cell">HMP Croydon</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">Credited <br><a href="MARTIN%20JACKSON">View details</a></td>
</tr>

<tr class="govuk-table__row hack-table-row-vertical-align-top">
  <!-- <td class="govuk-table__cell"><a href="#" class="govuk-link--no-visited-state">{{ prisoner.prisoner_name }}</a><br>{{ prisoner.prisoner_number }}</td> -->
  <td class="govuk-table__cell highlightable">08/07/2019</td>
  <td class="govuk-table__cell govuk-table__cell">JORDAN MAY<br>X7654WC</td>
  <td class="govuk-table__cell govuk-table__cell">Melissa James <br> by Debit card</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">£20.02</td>
  <td class="govuk-table__cell govuk-table__cell">HMP Croydon</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">Credited <br><a href="JORDAN%20MAY">View details</a></td>
</tr>

<tr class="govuk-table__row hack-table-row-vertical-align-top">
  <!-- <td class="govuk-table__cell"><a href="#" class="govuk-link--no-visited-state">{{ prisoner.prisoner_name }}</a><br>{{ prisoner.prisoner_number }}</td> -->
  <td class="govuk-table__cell highlightable">04/07/2019</td>
  <td class="govuk-table__cell govuk-table__cell">DAVID HOUGHTON<br>X8723JN</td>
  <td class="govuk-table__cell govuk-table__cell">Melissa James <br> by Debit card</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">£20.00</td>
  <td class="govuk-table__cell govuk-table__cell">HMP Croydon</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">Credited <br><a href="DAVID%20HOUGHTON">View details</a></td>
</tr>
