{% extends "layout.html" %}

{% block pageTitle %}
Senders
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        Senders
      </h1>
    <!-- <h2 class="govuk-heading-m">Search</h2> -->
    <form class="form" method="post">
      {{ govukInput({
              label: {
                classes: "govuk-body govuk-!-font-size-27 govuk-!-width-full",
                text: "Search sender name or email address"
              },
              hint: {
                text: "Common or incomplete names may show many results",
                classes: "govuk-!-width-full"
              },
              classes: "govuk-!-width-full",
              id: "senderSearch",
              name: "senderSearch"
            }) }}
            {{ govukButton({
              text: "Search senders"
            }) }}
    </form>
    <p><a href="/advanced-search/" class="govuk-link govuk-link--no-visited-state">Advanced search</a></p>
    </div>
    <div class="govuk-grid-column-one-third blue-box-right">
      <h2 class="govuk-heading-s">About sender data</h2>
      <p class="govuk-body-s">One person using multiple cards is displayed as two different senders.</p>
      <p class="govuk-body-s">We do not validate or combine names or email address.</p>
    </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <table class="govuk-table govuk-!-font-size-16 ">
      <!-- <caption class="govuk-table__caption">Credits for your prisons sorted by date</caption> -->
      {% include "senders/includes/_table_header.html" %}
      <tbody class="govuk-table__body ">
        {% include "senders/includes/_table_row.html" %}
      </tbody>
    </table>
    {% from "moj-pagination/macro.njk" import mojPagination %}
    {{ mojPagination({
      results: {
        from: 1,
        to: 5,
        count: 85
      },

      previous: {
        text: 'Previous',
        href: ''
      },

      next: {
        text: 'Next',
        href: ''
      },

      items: [{
        text: '1',
        href: '/page=1',
        selected: true
      }, {
        text: '2',
        href: '/page=5'
      }, {
        text: '3',
        href: '/page=6'
      }]
    }) }}
  </div>
</div>

{% endblock %}
