{% extends "layout_delayed_capture.html" %}

{% set nav = 'delayed' %}

{% block pageTitle %}
Delayed capture
{% endblock %}

{% block content %}

<style media="screen">
.added-to::before{
  content: "✓";
font-size: 1.5em;
color: #00703c;
}
.pending-table .govuk-table__cell{
  border-bottom: 0px;
  border-top: 1px solid #b1b4b6;
}
.rule-broken{
  /*border-bottom: 1px solid #b1b4b6; */
  /*color:#626a6e;*/
  /*font-size: 16px;*/
}
.rule-broken-text{
  padding-top: 0 !important;
  padding-bottom: 20px !important;
}
.moj-page-header-actions__actions{
  vertical-align: top
}
.moj-page-header-actions{
  margin-bottom: 0px;
}
.added-to{
  padding-left: 5px !important;
  /*font-size: 16px;*/
}
.govuk-table tbody th{
  font-weight: normal;
}
.td-override td {
  border-bottom: 0px !important;
}
.reason{
  padding-bottom: 20px !important;
  padding-top: 0px !important;
}
.datesent{
  border-bottom: 1px solid white;
}
.prereason{
  width: 34%;
}
.rulename{
  display: block;
  border-top: 1px solid white;
  margin: 0px;
}

.govuk-table tbody th{
  font-weight: normal;
}
tr {
  vertical-align: text-top;
}
.govuk-table tbody td{
  padding: 10px 0px;
}
.govuk-button{
  margin-bottom: 1em;
}
.moj-notification-badge{
  font-size: 19px;
  min-width: 20px;
  padding: 0px 5px;
  margin-right: 10px;
  /*border: 2px solid #0b0c0c;*/
}
.moj-notification-badge-P2{
  display: none;
  /*background-color: #f47738;
  color: #0b0c0c;*/
  /*background-color: #ffdd00;*/
  background-color: #f47738;
  color: #fff;
}
.moj-notification-badge-P3{
  display: none;
  /*background-color: #ffdd00;
  color: #0b0c0c;*/
  background-color: #28a197;
  color: #fff;
}
.moj-notification-badge-P4{
  /*background-color: #5694ca;
  color: #0b0c0c;*/
  background-color: #1d70b8;
  color: #fff;
}
.moj-notification-badge-P5{
  /*background-color: #626a6e;
  color: #fff;*/
  background-color: #0b0c0c;
  color: #fff;
}
.govuk-checkboxes__item{
  display: inline-block !important;
}
.govuk-checkboxes{
  display: inline-block !important;
  background-color: white;
  margin: 15px 0px -10px 0px;
}
.govuk-checkboxes--small{
  display: inline-block !important;
}
.govuk-checkboxes__input{
  display: inline-block !important;
}
.num-display .govuk-heading-l{
  margin-bottom: 5px;
  margin-left: 10px;
}
.num-display{
  display: inline-block;
  margin-right: 10px;
}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

    {{ mojSubNavigation({
    label: 'Sub navigation',
    items: [{
    text: 'Credits to action',
    href: '#1',
    active: true
    },{
    text: 'My list (8)',
    href: 'mylist'
    },{
    text: 'Decision history',
    href: 'history'
    }]
    }) }}

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
      Credits to action
    </h1>
    <p class="govuk-body govuk-!-font-size-36 govuk-!-margin-bottom-5">
      65 credits
    </p>
    <p>
      <span class="govuk-heading-m govuk-!-margin-bottom-6">
        <span id="notifications" class="moj-notification-badge">!</span> <strong>Warning: 11 credits need attention today</strong><br><span style="margin-left:46px;font-weight:normal; font-size:19px">Credits with a warning are 3 days old or more and will soon expire</span></span>
      </p>

      <table class="govuk-table govuk-!-margin-top-3">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width:25px"></th>
            <th scope="col" class="govuk-table__header" style="width:18%">Date sent</th>
            <th scope="col" class="govuk-table__header">Debit card (from)</th>
            <th scope="col" class="govuk-table__header">Prisoner (to)</th>
            <th scope="col" class="govuk-table__header">Amount</th>
            <th scope="col" class="govuk-table__header">Action</th>
            <th scope="col" class="govuk-table__header" style="width:18%"></th>
          </tr>


        <tbody class="govuk-table__body pending-table">


          <tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
              <span id="notifications" class="moj-notification-badge">!</span>
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>
          </tr>

          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr>

          <tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
              <!-- <span id="notifications" class="moj-notification-badge">!</span> -->
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <p class="govuk-body" style="margin-bottom:0"><span class="moj-badge moj-badge--grey">Whitelisted</span></p>
              <a href="review_exempt" class="govuk-link">View</a>
            </td>
            <td class="govuk-table__cell">
              <a href="index_02_add01#add01" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>
          </tr>

          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr>

          <tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
              <span id="notifications" class="moj-notification-badge">!</span>
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_restarted_delay" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <span id="notifications" class="moj-notification-badge">!</span>
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_added" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell added-to">Added to my list</td>
          </tr>

          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="4" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <span id="notifications" class="moj-notification-badge">!</span>
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_added_user2" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell"> Added to Joe Bloggs' list</td>
          </tr>

          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr>

          <tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
              <span id="notifications" class="moj-notification-badge">!</span>
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr>

          <tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
              <span id="notifications" class="moj-notification-badge">!</span>
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr>

          <tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
              <span id="notifications" class="moj-notification-badge">!</span>
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr>

          <tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
              <span id="notifications" class="moj-notification-badge">!</span>
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr>

          <tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
              <span id="notifications" class="moj-notification-badge">!</span>
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr>

          <tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
              <span id="notifications" class="moj-notification-badge">!</span>
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr>

          <tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
              <span id="notifications" class="moj-notification-badge">!</span>
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr>

          <tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr>

          <tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr><tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr><tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr><tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr><tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr><tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr><tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr><tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr><tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr><tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr><tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr><tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr><tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr><tr class="govuk-table__row" id="add01">
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell">DD Month YYYY HH:MM
            </td>
            <td class="govuk-table__cell">
              Sender Name<br>
              **** **** **** 1111 11/22<br>
            </td>
            <td class="govuk-table__cell">A1234AB<br>Prisoner name</br>HMP Prison</td>
            <td class="govuk-table__cell">£XX</td>
            <td class="govuk-table__cell">
              <a href="review_06" class="govuk-button">Review</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-button govuk-button--secondary">Add to my list</a>
            </td>

          </tr>
          <tr class="govuk-body rule-broken">
            <td colspan="2" style="">
            </td>
            <td colspan="5" class="rule-broken-text">
              <span><strong>Rule:</strong></span> Name of the rule broken
            </td>
          </tr>


        </tbody>
      </table>


      {% include "includes/pagination.html" %}


    </div>
  </div>
</div>
</div>

{% endblock %}
