{% extends "layout.html" %}

{% block pageTitle %}
Confirm your prisons - Prisoner money intelligence
{% endblock %}

{%block beforeContent%}

{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Add or remove prisons
    </h1>

    <!-- <p class="govuk-body-l">We only have data for public prisons.</p> -->


    <!-- <p class="govuk-body-l">You'll see data for:</p> -->

    <!-- <div id="myDIV">
      <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-5">
        <div class="app-check-your-answers__contents list-item-row">
          <dt class="app-check-your-answers__answer govuk-!-font-weight-bold">
            HMP/YOI Downview
          </dt>
          <dd class="app-check-your-answers__change">
            <a class="govuk-link govuk-link--no-visited-state" href="#" class="remove-list-item">
              Remove<span class="govuk-visually-hidden"> HMP/YOI Downview prison</span>
            </a>
          </dd>
        </div>
      </dl>
    </div> -->

    <form class="form" method="post">
      <h2 class="govuk-heading-m govuk-visually-hidden">Add another prison</h2>
      <div id="prisonInput">
        <!-- <p class="govuk-body"><a href="" class="addAnother govuk-link govuk-link--no-visited-state">Add all avalible prisons</a></p> -->
        <div class="govuk-form-group govuk-!-margin-bottom-0">
          <div class="list-item-row">
          <label class="govuk-label" for="name">
            Prison name
          </label>
          <input class="govuk-input govuk-input--width-20 govuk-!-margin-bottom-5" id="event-name" name="prison-name" type="text" value="{{ data['prisonName'] }}">
          <a href="" class="remove-list-item-one-prison remove-link govuk-link govuk-link--no-visited-state">Remove</a>
          <!-- <div id="prisons"></div><br> -->
          </div>
          <p class="govuk-body"><a href="" class="addAnother govuk-link govuk-link--no-visited-state">Add another prison</a></p>
          <p class="govuk-body">Or</p>
          <p class="govuk-body"><a href="all-prisons" class="govuk-link govuk-link--no-visited-state">Add all prisons</a></p>
        </div>
      {{ govukButton({
        html: 'Save'
      }) }}
    </form>

    <!-- <p class="govuk-body"><a href="#">Add other prisons</a></p> -->

  </div>
</div>

{% endblock %}
