{% extends "layout.html" %}

{% block pageTitle %}
Confirm your prisons - Prisoner money intelligence
{% endblock %}

{%block beforeContent%}
<!-- {% include "includes/pilot-banner.html" %} -->
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Add or remove prisons
    </h1>

    <!-- <p class="govuk-body-l">We only have data for public prisons.</p> -->

    <div class="hack-app-contact-panel govuk-!-margin-bottom-5">
      <h2 class="govuk-heading-m hack-colour-white">You'll see a lot of data if you add 'All prisons'.</h2>
      <p class="govuk-body hack-colour-white">If this is right, click 'Save'.</p>
      <p class="govuk-body hack-colour-white">If not, 'Remove' and add the prisons you need.</p>
    </div>

    <div class="all-prisons">
      <div id="myDIV">
        <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-5">
          <div class="app-check-your-answers__contents list-item-row">
            <dt class="app-check-your-answers__answer govuk-!-font-weight-bold">
              All prisons
            </dt>
            <dd class="app-check-your-answers__change">
              <a href="add-prisons" class="/remove-list-item-all-prisons">
                Remove<span class="govuk-visually-hidden"> All prisons</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <!-- <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-top-0"> -->

    <form class="form" method="post">
      <h2 class="govuk-heading-m govuk-visually-hidden">Add another prison</h2>

      <!-- <p class="govuk-body">At the moment you can only see data from public prisons.</p> -->

    </form>

    <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible "> -->

    <form class="form" method="post">
      {{ govukButton({
        html: 'Save'
      }) }}
    </form>
  </div>
</div>

{% endblock %}
