{% extends "layout.html" %}

{% block pageTitle %}
Confirm your prisons - Prisoner money intelligence
{% endblock %}

{%block beforeContent%}
<!-- {% include "includes/pilot-banner.html" %} -->
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Confirm your prisons
    </h1>

    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#prison">You have already added HMP/YOI Downview</a>
          </li>
        </ul>
      </div>
    </div>

    <p class="govuk-body-l">You'll see data for:</p>

    <div id="myDIV">
      <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-5">
        <div class="app-check-your-answers__contents list-item-row">
          <dt class="app-check-your-answers__answer govuk-!-font-weight-bold">
            HMP/YOI Downview
          </dt>
          <dd class="app-check-your-answers__change">
            <a href="#" class="remove-list-item">
              Remove<span class="govuk-visually-hidden"> HMP/YOI Downview prison</span>
            </a>
          </dd>
        </div>
      </dl>
    </div>

    <form class="form" method="post">
      <h2 class="govuk-heading-m govuk-visually-hidden">Add another prison</h2>

      <!-- <p class="govuk-body">At the moment you can only see data from public prisons.</p> -->
      <div id="prisonInput">
        <div class="govuk-form-group govuk-!-margin-bottom-0 govuk-form-group--error">
          <label class="govuk-label" for="name">
            Add another prison
          </label>
          <span id="national-insurance-number-error" class="govuk-error-message">
            You have already added HMP/YOI Downview
          </span>
          <input id="prison" class="govuk-input govuk-!-margin-bottom-3 govuk-input--error" type="text" value="HMP/YOI Downview">
          {{ govukButton({
            html: 'Add prison',
            classes: 'addAnother govuk-!-margin-bottom-0'
          }) }}
          <a href="#" class="govuk-link" style="float: right; margin-top: 13px; margin-right: 380px;">Add all prisons</a>
        </div>
      </div>
    </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible ">

    <form class="form" method="post">
      {{ govukButton({
        html: 'Confirm prisons'
      }) }}
    </form>
  </div>
</div>

{% endblock %}
