{% extends "layout.html" %}

{% block pageTitle %}
Manage email notifications - Prisoner money intelligence
{% endblock %}

{%block beforeContent%}
<!-- {% include "includes/pilot-banner.html" %} -->
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Confirm your prisons
    </h1>

    <p class="govuk-body-l">At the moment you can only see data from public prisons.</p>

    <p class="govuk-body">You'll see data for these prisons.</p>

    <div id="myDIV">
      <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-5">
        <div class="app-check-your-answers__contents list-item-row">
          <dt class="app-check-your-answers__answer govuk-!-font-weight-bold">
            HMP/YOI Downview
          </dt>
          <dd class="app-check-your-answers__change">
            <a href="#" class="remove-list-item">
              Remove<span class="govuk-visually-hidden"> HMP/YOI Downview prison</span>
            </a>
          </dd>
        </div>
      </dl>
    </div>

    <form class="form" method="post">
      <h2 class="govuk-heading-m govuk-visually-hidden">Add more prisons</h2>
      <div id="prisonInput">
        <div class="govuk-form-group govuk-!-margin-bottom-0">
          <label class="govuk-label" for="name">
            Add more prisons
          </label>
          <div id="prisons"></div><br>
          {{ govukButton({
            html: 'Add prison',
            classes: 'addAnother govuk-!-margin-bottom-0'
          }) }}
        </div>
      </div>
    </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible ">

    <form class="form" method="post">
      {{ govukButton({
        html: 'Confirm prisons'
      }) }}
    </form>
  </div>
</div>

{% endblock %}
