{% extends "layout.html" %}

{% block pageTitle %}
Your prisons have been saved - Prisoner money intelligence
{% endblock %}

{%block beforeContent%}
<!-- {% include "includes/pilot-banner.html" %} -->
{% endblock%}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l govuk-!-margin-top-0 govuk-!-padding-top-0" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-top-0">Back</a>
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-0">
          <h1 class="govuk-panel__title">
            Your prisons have been saved
          </h1>
        </div>

        <h2 class="govuk-heading-m govuk-!-margin-top-8">You'll see data for:</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>HMP/YOI Downview</li>
            <li>HMP Highpoint</li>
        </ul>

        <p class="govuk-body">
          You can edit your settings at any time from your profile screen.
        </p>
        <!-- <p class="govuk-body">
          You can still see data from all public prisons by clicking the all prisons link on any data screen.
        </p> -->

        <form class="form" method="post">
          {{ govukButton({
            html: 'Continue'
          }) }}
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
