{% extends "layout_delayed_capture.html" %}

{% set nav = 'delayed' %}

{% block pageTitle %}
Delayed capture
{% endblock %}

{% block content %}

<style media="screen">
.pending-table .govuk-table__cell{
  border-bottom: 0px;
  border-top: 1px solid #b1b4b6;
}
.rule-broken{
  /*border-bottom: 1px solid #b1b4b6; */
  /*color:#626a6e;*/
  /*font-size: 16px;*/
}
.rule-broken-text{
  padding-top: 0 !important;
  padding-bottom: 20px !important;
}
.moj-page-header-actions__actions{
  vertical-align: top
}
.moj-page-header-actions{
  margin-bottom: 0px;
}
.added-to{
  padding-left: 5px !important;
  font-size: 16px;
}
.govuk-table tbody th{
  font-weight: normal;
}
.td-override td {
  border-bottom: 0px !important;
}
.reason{
  padding-bottom: 20px !important;
  padding-top: 0px !important;
}
.datesent{
  border-bottom: 1px solid white;
}
.prereason{
  width: 34%;
}
.rulename{
  display: block;
  border-top: 1px solid white;
  margin: 0px;
}

.govuk-table tbody th{
  font-weight: normal;
}
tr {
  vertical-align: text-top;
}
.govuk-table tbody td{
  padding: 10px 0px;
}
.govuk-button{
  margin-bottom: 1em;
}
.moj-notification-badge{
  font-size: 19px;
  min-width: 20px;
  padding: 0px 5px;
  margin-right: 10px;
  /*border: 2px solid #0b0c0c;*/
}
.moj-notification-badge-P2{
  display: none;
  /*background-color: #f47738;
  color: #0b0c0c;*/
  /*background-color: #ffdd00;*/
  background-color: #f47738;
  color: #fff;
}
.moj-notification-badge-P3{
  display: none;
  /*background-color: #ffdd00;
  color: #0b0c0c;*/
  background-color: #28a197;
  color: #fff;
}
.moj-notification-badge-P4{
  /*background-color: #5694ca;
  color: #0b0c0c;*/
  background-color: #1d70b8;
  color: #fff;
}
.moj-notification-badge-P5{
  /*background-color: #626a6e;
  color: #fff;*/
  background-color: #0b0c0c;
  color: #fff;
}
.govuk-checkboxes__item{
  display: inline-block !important;
}
.govuk-checkboxes{
  display: inline-block !important;
  background-color: white;
  margin: 15px 0px -10px 0px;
}
.govuk-checkboxes--small{
  display: inline-block !important;
}
.govuk-checkboxes__input{
  display: inline-block !important;
}
.num-display .govuk-heading-l{
  margin-bottom: 5px;
  margin-left: 10px;
}
.num-display{
  display: inline-block;
  margin-right: 10px;
}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

    {{ mojSubNavigation({
    label: 'Sub navigation',
    items: [{
    text: 'Credits to action',
    href: 'index'
    },{
    text: 'My list (8)',
    href: 'mylist'
    },{
    text: 'Decision history',
    href: 'history',
    active: true
    }]
    }) }}

    <p class="govuk-heading-xl">Decision history</p>
    <a href="advanced-search" class="govuk-link govuk-!-font-size-19">Advanced search</a>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="width:25%">Date sent</th>
          <th scope="col" class="govuk-table__header">Debit card (from)</th>
          <th scope="col" class="govuk-table__header">Prisoner (to)</th>
          <th scope="col" class="govuk-table__header">Amount</th>
          <th scope="col" class="govuk-table__header">Decision</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body td-override">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM</td>
          <td class="govuk-table__cell">
            <a href="/payment-sources/single-source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="/prisoners/single-prisoner">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--green">Automatically</br>accepted</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
<strong>Reason for automatically accepting:</strong> Partner
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
          </td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--red">Rejected</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
            <strong>Decision details:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM</td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--green">Accepted</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
          </td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--red">Rejected</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
            <strong>Decision details:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM</td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--green">Accepted</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
          </td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--red">Rejected</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
            <strong>Decision details:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM</td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--green">Accepted</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
          </td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--red">Rejected</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
            <strong>Decision details:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM</td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--green">Accepted</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
          </td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--red">Rejected</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
            <strong>Decision details:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM</td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--green">Accepted</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
          </td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--red">Rejected</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
            <strong>Decision details:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM</td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--green">Accepted</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
          </td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--red">Rejected</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
            <strong>Decision details:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM</td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--green">Accepted</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
          </td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--red">Rejected</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
            <strong>Decision details:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM</td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--green">Accepted</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
          </td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--red">Rejected</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
            <strong>Decision details:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM</td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--green">Accepted</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
          </td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--red">Rejected</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
            <strong>Decision details:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
          </td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--red">Rejected</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
            <strong>Decision details:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
          </td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--red">Rejected</span><br>by Joe Bloggs</td>
        </tr>
        <tr class="govuk-table__cell">
          <td colspan="1" class="prereason"></td>
          <td colspan="4" class="reason">
            <span class="govuk-body rulename"><strong>Rule: </strong>Name of rule broken</span>
            <strong>Decision details:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell datesent">DD Month YYYY HH:MM
          </td>
          <td class="govuk-table__cell">
            <a href="payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            sender@email.com <br>
            POST CODE
          </td>
          <td class="govuk-table__cell"><a href="prisoner_details">A1234AB</a><br>Prisoner name</br>HMP Prison <br>
            HMP Prison<br>
            A Wing 111
          </td>
          <td class="govuk-table__cell">£XX</td>
          <td class="govuk-table__cell"><span class="moj-badge moj-badge--red">Rejected</span><br>by Joe Bloggs</td>
        </tr>


      </table>
      {% include "includes/pagination.html" %}

    </div>
  </div>
</div>
</div>

{% endblock %}
