{% extends "layout.html" %}

{% set nav = 'delayed' %}

{% block pageTitle %}
Delayed capture
{% endblock %}

{% block content %}

<style media="screen">
.govuk-table tbody th{
  font-weight: normal;
}
tr {
  vertical-align: text-top;
}
.govuk-table tbody td{
  padding: 10px 0px;
}
.govuk-button{
  margin-bottom: 1em;
}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Delayed capture
    </h1>


    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date sent</th>
          <th scope="col" class="govuk-table__header">Payment source (from)</th>
          <th scope="col" class="govuk-table__header">Prisoner (to)</th>
          <th scope="col" class="govuk-table__header">Amount</th>
          <th scope="col" class="govuk-table__header">Rule</th>
          <th scope="col" class="govuk-table__header">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">DD Month YYYY<br><span class="govuk-body-s">HH:MM:SS</span></th>
          <td class="govuk-table__cell">
            <a href="delayed_capture/payment_source">Sender Name</a><br>
            **** **** **** 1111 11/22<br>
            <span class="govuk-body-s">
              user@email.com</span>
            </td>
            <td class="govuk-table__cell"><a href="delayed_capture/prisoner_details">A1234AB</a><br>Prisoner name</td>
            <th scope="row" class="govuk-table__header">£XX</th>
            <th scope="row" class="govuk-table__header">Rule 1</th>
            <th scope="row" class="govuk-table__header">
              <a class="govuk-button" href="#">Accept</a>
              <a class="govuk-button govuk-button--secondary" href="#">Reject</a><br>
              <a class="govuk-link" href="delayed_capture/transaction_details">View details</a>
            </th>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">DD Month YYYY<br><span class="govuk-body-s">HH:MM:SS</span></th>
            <td class="govuk-table__cell">
              <a href="delayed_capture/payment_source">Sender Name</a><br>
              **** **** **** 1111 11/22<br>
              <span class="govuk-body-s">
                user@email.com</span>
              </td>
              <td class="govuk-table__cell"><a href="delayed_capture/prisoner_details">A1234AB</a><br>Prisoner name</td>
              <th scope="row" class="govuk-table__header">£XX</th>
              <th scope="row" class="govuk-table__header">Rule 1</th>
              <th scope="row" class="govuk-table__header">
                <a class="govuk-button" href="#">Accept</a>
                <a class="govuk-button govuk-button--secondary" href="#">Reject</a><br>
                <a class="govuk-link" href="delayed_capture/transaction_details">View details</a>
              </th>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">DD Month YYYY<br><span class="govuk-body-s">HH:MM:SS</span></th>
              <td class="govuk-table__cell">
                <a href="delayed_capture/payment_source">Sender Name</a><br>
                **** **** **** 1111 11/22<br>
                <span class="govuk-body-s">
                  user@email.com</span>
                </td>
                <td class="govuk-table__cell"><a href="delayed_capture/prisoner_details">A1234AB</a><br>Prisoner name</td>
                <th scope="row" class="govuk-table__header">£XX</th>
                <th scope="row" class="govuk-table__header">Rule 1</th>
                <th scope="row" class="govuk-table__header">
                  <a class="govuk-button" href="#">Accept</a>
                  <a class="govuk-button govuk-button--secondary" href="#">Reject</a><br>
                  <a class="govuk-link" href="delayed_capture/transaction_details">View details</a>
                </th>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">DD Month YYYY<br><span class="govuk-body-s">HH:MM:SS</span></th>
                <td class="govuk-table__cell">
                  <a href="delayed_capture/payment_source">Sender Name</a><br>
                  **** **** **** 1111 11/22<br>
                  <span class="govuk-body-s">
                    user@email.com</span>
                  </td>
                  <td class="govuk-table__cell"><a href="delayed_capture/prisoner_details">A1234AB</a><br>Prisoner name</td>
                  <th scope="row" class="govuk-table__header">£XX</th>
                  <th scope="row" class="govuk-table__header">Rule 1</th>
                  <th scope="row" class="govuk-table__header">
                    <a class="govuk-button" href="#">Accept</a>
                    <a class="govuk-button govuk-button--secondary" href="#">Reject</a><br>
                    <a class="govuk-link" href="delayed_capture/transaction_details">View details</a>
                  </th>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">DD Month YYYY<br><span class="govuk-body-s">HH:MM:SS</span></th>
                  <td class="govuk-table__cell">
                    <a href="delayed_capture/payment_source">Sender Name</a><br>
                    **** **** **** 1111 11/22<br>
                    <span class="govuk-body-s">
                      user@email.com</span>
                    </td>
                    <td class="govuk-table__cell"><a href="delayed_capture/prisoner_details">A1234AB</a><br>Prisoner name</td>
                    <th scope="row" class="govuk-table__header">£XX</th>
                    <th scope="row" class="govuk-table__header">Rule 1</th>
                    <th scope="row" class="govuk-table__header">
                      <a class="govuk-button" href="#">Accept</a>
                      <a class="govuk-button govuk-button--secondary" href="#">Reject</a><br>
                      <a class="govuk-link" href="delayed_capture/transaction_details">View details</a>
                    </th>
                  </tr>
          </tbody>
        </table>
        {% include "includes/pagination.html" %}
      </div>
    </div>
  </div>
</div>

  {% endblock %}
