{% extends "layout.html" %}

{% set nav = 'prisoners' %}

{% block pageTitle %}
Prisoner money intelligence
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Path",
      href: "#"
    }
  ]
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Edit user account
    </h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    {% from "govuk/components/input/macro.njk" import govukInput %}

    {{ govukInput({
      label: {
        text: "First name"
      },
      id: "example",
      name: "example",
value: "Joe"
    }) }}

    {{ govukInput({
      label: {
        text: "Last name"
      },
      id: "example-2",
      name: "example-2",
value: "Bloggs"
    }) }}

    {{ govukInput({
      label: {
        text: "Email"
      },
      id: "example-4",
      name: "example-4",
value: "joe.bloggs@dgitial.justice.gov.uk"
    }) }}

    {{ govukInput({
      label: {
        text: "Username"
      },
      hint: {
        text: "Enter your Quantum ID"
      },
      id: "example-5",
      name: "example-5",
value: "ABC123D"
    }) }}


  </div>
</div>

    <div class="govuk-form-group">
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked>
          <label class="govuk-label govuk-checkboxes__label" for="waste">
            This account is for an FIU user</br>(FIU users will be able to manage other users's accounts)
          </label>
        </div>
      </div>
    </div>
<a class="govuk-button" href="new_account_confirmation" style="margin-right:20px">
  Save changes
</a>
<a href="manage_accounts" style="font-size:19px; position:relative; top:8px;">
  Cancel
</a>


{% endblock %}
