{% extends "layout_only_primary.html" %}

{% block pageTitle %}
Prisoner money intelligence
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      Intel tool prototypes
    </h1>
    <h2 class="govuk-heading-m">User's job info for research</h2>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="user_job">Option 01 - multiple pages</a></li>
      <li class="govuk-link"><a href="user_job/user_job_all">Option 02 - single page</a></li>
      <li class="govuk-link"><a href="user_job/user_job_all_02">Option 03 - single page</a></li>
    </ul>

    <h2 class="govuk-heading-m">Delayed capture with history</h2>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="delayed_capture_history/index.html">Option 01</a></li>
      <li class="govuk-link"><a href="delayed_capture_history/index_02.html">Option 02</a></li>
    </ul>

    <h2 class="govuk-heading-m">Delayed capture with history and to do list</h2>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="delayed_capture_history_and_todo/index">Option 01</a></li>
      <li class="govuk-link"><a href="delayed_capture_history_and_todo/index_02">Option 02</a></li>
    </ul>

    <h2 class="govuk-heading-m">Delayed capture dashboard MVP experiments</h2>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="delayed_capture_02/index_01.html">Option 01</a></li>
      <li class="govuk-link"><a href="delayed_capture_02/index_02.html">Option 02</a></li>
      <li class="govuk-link"><a href="delayed_capture_02/index_03.html">Option 03</a></li>
      <li class="govuk-link"><a href="delayed_capture_02/index_04.html">Option 04</a></li>
      <li class="govuk-link"><a href="delayed_capture_02/index_05.html">Option 05</a></li>
      <li class="govuk-link"><a href="delayed_capture_02/index_06.html">Option 06</a></li>
      <li class="govuk-link"><a href="delayed_capture_02/index_07.html">Option 07</a></li>
    </ul>
  </div>
</div>


{% endblock %}
