{% extends "layout_only_primary.html" %}

{% block pageTitle %}
Prisoner money intelligence
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      Intel tool prototypes
    </h1>

    <h2 class="govuk-heading-m">Policy change 02 November</h2>
    <p class="govuk-hint">
      For users of the intelligence tool these changes will comprise of a messaging banner on the home page
    </p>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="/policy_change_phase_01">Phase 01</a> - Upcoming changes - Sept 16th - Nov 1st (before)</li>
      <li class="govuk-link"><a href="/policy_change_phase_02">Phase 02</a> - 2nd Nov changes - Nov 2nd only (during)</li>
      <li class="govuk-link"><a href="index">Phase 03</a> - Post 2nd Nov changes - Nov 2nd - indefinitely (after) no banner</li>
    </ul>

    <div class="govuk-!-margin-bottom-9">

    </div>
    <h2 class="govuk-heading-m">User's job info for research</h2>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="user_job">Option 01 - multiple pages</a></li>
      <li class="govuk-link"><a href="user_job/user_job_all">Option 02 - single page</a></li>
      <li class="govuk-link"><a href="user_job/user_job_all_02">Option 03 - single page</a></li>
    </ul>

    <h2 class="govuk-heading-m">Delayed capture with history</h2>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="delayed_capture_history/index.html">Option 01</a></li>
      <li class="govuk-link"><a href="delayed_capture_history/index_02.html">Option 02</a></li>
      <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-margin-top-3">Option to build as a result of user testing:</span>
      <li class="govuk-link"><a href="delayed_capture_history/index_09.html">Option to build</a></li>
    </ul>

    <h2 class="govuk-heading-m">Delayed capture with history and to do list</h2>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="delayed_capture_history_and_todo/index">Option 01</a></li>
      <li class="govuk-link"><a href="delayed_capture_history_and_todo/index_02">Option 02</a></li>
      <li class="govuk-link"><a href="delayed_capture_history_and_todo/index_03">Option 03</a></li>
      <li class="govuk-link"><a href="delayed_capture_history_and_todo/index_04">Option 04</a></li>
      <li class="govuk-link"><a href="delayed_capture_history_and_todo/index_05">Option 05</a></li>
      <li class="govuk-link"><a href="delayed_capture_history_and_todo/index_06">Option 06</a></li>
      <li class="govuk-link"><a href="delayed_capture_history_and_todo/index_07">Option 07</a></li>
      <li class="govuk-link"><a href="delayed_capture_history_and_todo/index_08">Option 08 (tabs)</a></li>
      <!-- <li class="govuk-link"><a href="delayed_capture_history_and_todo/index_09">Option 09</a></li> -->
      <li class="govuk-link"><a href="delayed_capture_history_and_todo/index_09_mylist">Option 09 my list</a></li>
    </ul>

    <h2 class="govuk-heading-m">Delayed capture with history and to do list - second round</h2>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="delayed_capture_history_and_todo_02/index">Option 01 - option to build</a></li>
    </ul>

    <h2 class="govuk-heading-m">Categorise delayed capture decisions</h2>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="delayed_capture_history_and_todo_02/review_02">Option 01</a></li>
      <li class="govuk-link"><a href="delayed_capture_history_and_todo_02/review_03">Option 02</a></li>
      <li class="govuk-link"><a href="delayed_capture_history_and_todo_02/review_04">Option 03</a></li>
      <li class="govuk-link"><a href="delayed_capture_history_and_todo_02/review_05_step_01">Option 04 - (2 steps)</a></li>
      <li class="govuk-link"><a href="delayed_capture_history_and_todo_02/review_06">Option 05</a></li>
      <li class="govuk-link"><a href="delayed_capture_history_and_todo_02/review_07">Option 06</a></li>
    </ul>

    <h2 class="govuk-heading-m">Delayed capture with "pause and resume" </h2>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="delayed_capture_pause/index">Option 01</a></li>
      <li class="govuk-link"><a href="delayed_capture_pause_02/index">Option 02</a></li>
      <li class="govuk-link"><a href="delayed_capture_history_todo_search_02/advanced-search">Option 02 - find credits by use of advanced search</a></li>
      <li class="govuk-link"><a href="delayed_capture_pause_03/index">Option 03</a></li>
      <div class="govuk-inset-text">Option 03 was tested with FIU users 16-20 Nov 2020.</br>Testing made clear that the ability to review auto accepts, with the option to remove, is required</div>
      <li class="govuk-link"><a href="delayed_capture_pause_04/index">Option 04</a></li>
    </ul>

    <h2 class="govuk-heading-m">Delayed capture with history, to do and search</h2>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="delayed_capture_history_todo_search_01/index">Option 01: contextual search</a></li>
      <li class="govuk-link"><a href="delayed_capture_history_todo_search_02/index">Option 02: all-in-one search</a></li>
    </ul>

    <h2 class="govuk-heading-m">Credit decision history with source of issue marked</h2>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="delayed_capture_history_and_todo/review_03">Option 01</a></li>
      <li class="govuk-link"><a href="delayed_capture_history_and_todo/review_04">Option 02</a></li>
      <li class="govuk-link"><a href="delayed_capture_history_and_todo/review_05">Option 03</a></li>
    </ul>

    <h2 class="govuk-heading-m">Delayed capture dashboard MVP experiments</h2>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="delayed_capture_02/index_01.html">Option 01</a></li>
      <li class="govuk-link"><a href="delayed_capture_02/index_02.html">Option 02</a></li>
      <li class="govuk-link"><a href="delayed_capture_02/index_03.html">Option 03</a></li>
      <li class="govuk-link"><a href="delayed_capture_02/index_04.html">Option 04</a></li>
      <li class="govuk-link"><a href="delayed_capture_02/index_05.html">Option 05</a></li>
      <li class="govuk-link"><a href="delayed_capture_02/index_06.html">Option 06</a></li>
      <li class="govuk-link"><a href="delayed_capture_02/index_07.html">Option 07</a></li>
    </ul>
  </div>
</div>


{% endblock %}
