{% extends "layout.html" %}

{% set nav = 'prisoners' %}

{% block pageTitle %}
Prisoner money intelligence
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      Intel tool
    </h1>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="user_job">User job</a></li>
    </ul>
    <h2 class="govuk-heading-m">Delayed capture MVP Experiments</h2>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="delayed_capture_02/index_01.html">Option 01</a></li>
      <li class="govuk-link"><a href="delayed_capture_02/index_02.html">Option 02</a></li>
      <li class="govuk-link"><a href="delayed_capture_02/index_03.html">Option 03</a></li>
      <li class="govuk-link"><a href="delayed_capture_02/index_04.html">Option 04</a></li>
      <li class="govuk-link"><a href="delayed_capture_02/index_05.html">Option 05</a></li>
      <li class="govuk-link"><a href="delayed_capture_02/index_06.html">Option 06</a></li>
      <li class="govuk-link"><a href="delayed_capture_02/index_07.html">Option 07</a></li>
    </ul>
  </div>
</div>


{% endblock %}
