{% extends "layout.html" %}

{% block pageTitle %}
  Prisoner money intelligence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      Welcome {{ data['userName'] }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l govuk-!-margin-bottom-9">Use this tool to monitor all credits sent to prisoners using the <a href="#">Send money to someone in prison</a> service.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">View all</h2>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third mtp-box">
    <p class="govuk-body-l"><a href="/credits/">Credits</a></p>
  </div>
  <div class="govuk-grid-column-one-third mtp-box">
    <p class="govuk-body-l"><a href="/disbursements/">Disbursements</a></p>
  </div>
  <div class="govuk-grid-column-one-third mtp-box">
    <p class="govuk-body-l"><a href="/prisoners/">Prisoners</a></p>
  </div>
  <div class="govuk-grid-column-one-third mtp-box">
    <p class="govuk-body-l"><a href="/senders/">Senders</a></p>
  </div>
  <div class="govuk-grid-column-one-third mtp-box">
    <p class="govuk-body-l"><a href="/notifications/notifications-page">Notifications</a></p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Admin options</h2>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third mtp-box">
    <p class="govuk-body-l"><a href="#">Manage users</a></p>
  </div>
  <div class="govuk-grid-column-one-third mtp-box">
    <p class="govuk-body-l"><a href="#">Upload prisoner location file</a></p>
  </div>
</div>

{% endblock %}
