{% extends "layout_only_primary.html" %}

{% set nav = 'prisoners' %}

{% block pageTitle %}
Prisoner money intelligence
{% endblock %}

{% block content %}

<div style="margin:-50px -800px 0px; padding:40px 800px 0px 800px; background-color:#1d70b8;">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" style="color:white;">
      <h1 class="govuk-heading-xl" style="color:white;">Monitor prisoner money</h1>
      <p class="govuk-body" style="color:white">Use this tool to monitor and investigate money sent using the <a style="color:white" href="https://hmpps-send-money-to-a-prisoner.herokuapp.com/policy_change_phase_03/start">Send money to someone in prison</a> service.</p>
      <p class="govuk-body" style="color:white;">The tool also gives insight into the digital movement of money, not only in your prison, but in all prisons in England and Wales.</p>
    </div>
    <div class="govuk-grid-column-one-third" style="margin: 80px auto;">
      <img src="/public/images/landing-noms-ops.png" alt="">
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-8">
  <div class="govuk-grid-column-one-half" style="padding-right:60px;">
    <h2 class="govuk-heading-m">Request an account</h2>
    <p class="govuk-body">If you work in intelligence in a public or private prison in England or Wales, you can request an intelligence tool account.</p>
    <p class="govuk-body">
      <a href="request_access" class="govuk-link">Request an account</a>
    </p>
    <p class="govuk-body"><a href="/help">Get help</a> if you're having difficulties getting an account or signing in.</p>
    <!-- <h2 class="govuk-heading-m">New disbursement tool</h2>
    <p>We’ve launched a new digital disbursement tool which tracks money sent out of prisons.</p>
    <p>All public UK prisons now have access.</p> -->
  </div>

  <div class="govuk-grid-column-one-half" style="padding-right:160px;">
    <h2 class="govuk-heading-m">Sign in</h2>
    <div class="govuk-form-group">
      <label class="govuk-label" for="email">
        Username
      </label>
      <div id="email-hint" class="govuk-hint">
        This is usually your Quantum ID
      </div>
      <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="password">
        Password
      </label>
      <input class="govuk-input" id="password" name="password" type="password" spellcheck="false" aria-describedby="password-hint" autocomplete="password">
    </div>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Sign in",
      href: "index"
    }) }}

  </div>
</div>


{% endblock %}
