{% extends "layout.html" %}

{% block pageTitle %}
Profile - Prisoner money intelligence
{% endblock %}

{%block beforeContent%}
{% include "includes/pilot-banner.html" %}
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Lucy Edwards</span>
    <h1 class="govuk-heading-xl">Profile</h1>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Email notifications</h2>
    <!-- <div id="emailNotificationSettings">
      <p class="govuk-body">You are currely recieving email notifications every Monday.</p>
      <form class="form" method="post">
        <button class="govuk-button" onclick="toggleFunction()">
          Stop email notificataions
        </button>
      </form>
    </div> -->


      <div id="notificationsOn">
      <p class="govuk-body class1">You are currely recieving email notifications every Monday.</p>
        <button id="button" class="govuk-button button-elem">
          Turn off email notificataions
        </button>
      </div>
      <div id="notificationsOff">
        <p class="govuk-body class1">You are not currently recieving email notifications.</p>
          <button id="button" class="govuk-button button-elem">
            Turn on email notificataions
          </button>
      </div>



    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Prisons</h2>
    <p class="govuk-body">You'll see data for:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>HMP/YOI Downview</li>
      <li>HMP/YOI High Down</li>
    </ul>
    <form class="form" method="post">
      <button type="submit" class="govuk-button">
        Edit prisons
      </button>
    </form>


  </div>
</div>

{% endblock %}
