{% extends "layout.html" %}

{% block pageTitle %}
Manage email notifications - Prisoner money intelligence
{% endblock %}

{%block beforeContent%}
{% include "includes/pilot-banner.html" %}
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Jason Brading</span>
    <h1 class="govuk-heading-xl">Profile</h1>

    <ul class="govuk-list">
      <li><a href="/notifications/">Edit notifications</a></li>
      <li><a href="/notifications/setup/prisons/">Edit prisons</a></li>
      <li><a href="/sign-in/">Sign out</a></li>
    </ul>
    
  </div>
</div>

{% endblock %}
