{% extends "layout-search-results.html" %}

{% set nav = 'prisoners' %}

{% block pageTitle %}
Advanced search
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Prisoners</span>
      Advanced search
    </h1>

  </div>

  <div class="govuk-grid-column-full">

    {{ govukInput({
      label: {
        text: "Prisoner number",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      classes: "govuk-input--width-20",
      id: "width-20",
      name: "width-20"
    }) }}

    {{ govukInput({
      label: {
        text: "Prisoner name",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      classes: "govuk-input--width-20",
      id: "width-20",
      name: "width-20"
    }) }}

    {% include "includes/search_prisons_radios.html" %}

    {{ govukButton({
      text: "Search prisoners"
    }) }}

  </div>
</div>

{% endblock %}
