{% extends "layout.html" %}

{% block pageTitle %}
Prisoners
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Prisoners
    </h1>
    <form class="form" method="post">
      {{ govukInput({
        label: {
          classes: "govuk-body govuk-!-font-size-27",
          text: "Search prisoner number or name"
        },
        hint: {
          text: "For example, name or 'A1234BC'"
        },
        id: "prisonerSearch",
        name: "prisonerSearch"
      }) }}
      {{ govukButton({
        text: "Search prisoners"
      }) }}
    </form>
  </div>
  <div class="govuk-grid-column-full">


    <p class="govuk-body govuk-!-margin-bottom-8"><a href="/prisoners/advanced-search" class="govuk-link govuk-link--no-visited-state">Advanced search</a></p>

    <!-- ********************************** -->

    <div class="govuk-tabs" data-module="tabs">
      <h2 class="govuk-tabs__title">
        Credits & Disbursements
      </h2>

      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#credits">
            Credits
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#disbursements">
            Disbursements
          </a>
        </li>
      </ul>

      <section class="govuk-tabs__panel" id="credits">
        <!-- <h2 class="govuk-heading-l">Total credits</h2> -->
        <table class="govuk-table govuk-!-font-size-14 ">
          <!-- <caption class="govuk-table__caption">Credits for your prisons sorted by date</caption> -->
          {% include "prisoners/includes/_table_header_credits.html" %}
          <tbody class="govuk-table__body ">
            {%- for prisoner in prisoners -%}
            {%- if prisoner.credit_count >= 1 -%}
            <!-- The line above stops disbursements appearing in the credits view -->
            {% include "prisoners/includes/_table_row_credits.html" %}
            {%- endif -%}
            {%- endfor -%}

          </tbody>
        </table>
        {%- if prisoners.length > 25 -%}
        {% include "includes/pagination.html" %}
        {%- endif -%}
      </section>
      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="disbursements">
        <!-- <h2 class="govuk-heading-l">Total disbursements</h2> -->
        <table class="govuk-table govuk-!-font-size-14 ">
          <!-- <caption class="govuk-table__caption">Credits for your prisons sorted by date</caption> -->
          {% include "prisoners/includes/_table_header_disbursements.html" %}
          <tbody class="govuk-table__body ">
            {%- for prisoner in prisoners -%}
            {%- if prisoner.disbursement_count >= 1 -%}
            <!-- The line above stops credits appearing in the disbursements view -->
            {% include "prisoners/includes/_table_row_disbursements.html" %}
            {%- endif -%}
            {%- endfor -%}
          </tbody>
        </table>
        {%- if prisoners.length > 25 -%}
        {% include "includes/pagination.html" %}
        {%- endif -%}
      </section>
    </div>
    <!-- *************************************** -->

  </div>
</div>

{% endblock %}
