{% extends "layout.html" %}

{% block pageTitle %}
Prisoners
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-xl">
      Prisoners
    </h1>
  </div>
  <div class="govuk-grid-column-full">
    <form class="form" method="post">
      {{ govukInput({
        label: {
          classes: "govuk-body govuk-!-font-size-27",
          text: "Search prisoner number or name"
        },
        hint: {
          text: "For example, name or 'A1234BC'."
        },
        classes: "govuk-!-width-one-half",
        id: "prisonerSearch",
        name: "prisonerSearch"
      }) }}
      {{ govukButton({
        text: "Search prisoners"
      }) }}
    </form>

    <p class="govuk-body govuk-!-margin-bottom-8"><a href="/advanced-search/" class="govuk-link govuk-link--no-visited-state">Advanced search</a></p>

    <!-- ********************************** -->

    <div class="govuk-tabs" data-module="tabs">
      <h2 class="govuk-tabs__title">
        Credits & Disbursements
      </h2>

      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#credits">
            Credits
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#disbursements">
            Disbursements
          </a>
        </li>
      </ul>

      <section class="govuk-tabs__panel" id="credits">
        <!-- <h2 class="govuk-heading-l">Total credits</h2> -->
        <table class="govuk-table govuk-!-font-size-14 ">
          <!-- <caption class="govuk-table__caption">Credits for your prisons sorted by date</caption> -->
          {% include "prisoners/includes/_table_header_credits.html" %}
          <tbody class="govuk-table__body ">
            {%- for prisoner in prisoners -%}
              {%- if prisoner.credit_count >= 1 -%}
              <!-- The line above stops disbursements appearing in the credits view -->
                {% include "prisoners/includes/_table_row_credits.html" %}
              {%- endif -%}
            {%- endfor -%}

          </tbody>
        </table>
        {% from "moj-pagination/macro.njk" import mojPagination %}
        {{ mojPagination({
          results: {
            from: 1,
            to: 5,
            count: 85
          },

          previous: {
            text: 'Previous',
            href: ''
          },

          next: {
            text: 'Next',
            href: ''
          },

          items: [{
            text: '1',
            href: '/page=1',
            selected: true
          }, {
            text: '2',
            href: '/page=5'
          }, {
            text: '3',
            href: '/page=6'
          }]
        }) }}
      </section>
      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="disbursements">
        <!-- <h2 class="govuk-heading-l">Total disbursements</h2> -->
        <table class="govuk-table govuk-!-font-size-14 ">
          <!-- <caption class="govuk-table__caption">Credits for your prisons sorted by date</caption> -->
          {% include "prisoners/includes/_table_header_disbursements.html" %}
          <tbody class="govuk-table__body ">
            {%- for prisoner in prisoners -%}
              {%- if prisoner.disbursement_count >= 1 -%}
              <!-- The line above stops credits appearing in the disbursements view -->
                {% include "prisoners/includes/_table_row_disbursements.html" %}
              {%- endif -%}
            {%- endfor -%}
          </tbody>
        </table>
        {% from "moj-pagination/macro.njk" import mojPagination %}
        {{ mojPagination({
          results: {
            from: 1,
            to: 5,
            count: 85
          },

          previous: {
            text: 'Previous',
            href: ''
          },

          next: {
            text: 'Next',
            href: ''
          },

          items: [{
            text: '1',
            href: '/page=1',
            selected: true
          }, {
            text: '2',
            href: '/page=5'
          }, {
            text: '3',
            href: '/page=6'
          }]
        }) }}
      </section>
    </div>
    <!-- *************************************** -->

  </div>
</div>

{% endblock %}
