{% extends "layout.html" %}

{% set nav = 'help' %}

{% block pageTitle %}
Credits
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Get help and leave feedback</span>
        Thanks for your interest
      </h1>

      <p class="govuk-body-l">The prisoner money team received your request and, if needed, will try to reply in one working day.</p>

  </div>

</div>

{% endblock %}
